-# file: Main site index

-# Add javascripts here - jquery is added automatically
- content_for :scripts do
  = stylesheet_link_tag '/app/stylesheets/fancybox.css'
  = javascript_include_tag '/app/javascripts/fancybox.js'
  = javascript_include_tag "/app/javascripts/jquery.slideshow.minified.js"
  = javascript_include_tag "/app/javascripts/jquery.tools.min.js"
  = javascript_include_tag "/app/javascripts/home"
  
.simpleSlideShow.slideShow.container_24
  #slides.grid_24
    %ul

      /Promo banners
      %li.slide
        = image_tag "/app/images/promo_banner_free_espresso.png"
          
      %li.slide
        = image_tag "/app/images/promo_banner_win_xoom.png"


    /Slide show navigation
    %ul.navigation
      %li
        %a.page(href='#') 1
      %li
        %a.page(href='#') 2

  .clear

#page.container_24
  /High-level information
  #info.container_24

    /For Developers
    #for_developers.grid_11.prefix_1
      %h3 OpenShift is for Developers
      %p
        OpenShift is for developers who love to build on open source, but don't need the hassle of building and maintaining infrastructure. 
      
      = link_to 'Learn More >', express_path, :class => 'learn-more express'
    
    /Cutting-Edge
    #cutting_edge.grid_11
      %h3 OpenShift is Cutting-Edge
      %p
        Supports all the coolest languages and frameworks, plus PaaS automation features like auto-scaling and performance monitoring. 
      
      = link_to 'Learn More >', flex_path, :class => 'learn-more flex'

    .clear
    
    = image_tag "/app/images/full_stack_support.png", :id => 'front_image'
    
    .clear

  /App promo boxes
  #app_promos.container_24

    /Express box
    .express.promo.grid_8
      %h3 
        Deploy to the Cloud in Minutes,
        %br
        it's Free and Easy!
      %h4 Express
      %p
        = link_to 'Learn More', express_url

    /Flex box
    .flex.promo.grid_8
      %h3 
        Auto-scaling PaaS for 
        %br
        JBoss, Java, and PHP
      %h4 Flex
      %p
        = link_to 'Learn More', flex_url

    /Power box
    .power.promo.grid_8
      %h3 
        Tools for custom cloud 
        %br
        application deployments
      %h4 Power
      %p
        = link_to 'Learn More', power_url

    .clear

  .clear
