-# file: Main site index

-# Add javascripts here - jquery is added automatically
- content_for :scripts do
  = stylesheet_link_tag '/app/stylesheets/fancybox.css'
  = javascript_include_tag '/app/javascripts/fancybox.js'
  = javascript_include_tag "/app/javascripts/jquery.slideshow.minified.js"
  = javascript_include_tag "/app/javascripts/home"
  
.simpleSlideShow.slideShow.container_24
  #slides.grid_24
    %ul

      /Promo banners
      %li.slide
        .slide-canvas
        .content
          %h2 Free espresso and tech help at the OpenShift Cafe
          
      %li.slide
        .slide-canvas
        .content
          %h2 
            Win a Xoom at the OpenShift Cafe
      
      %li.slide
        .slide-canvas
        .content
          %h2
            Sign up for the OpenShift Webcast


    /Slide show navigation
    %ul.navigation
      %li
        %a.page(href='#') 1
      %li
        %a.page(href='#') 2
      %li
        %a.page(href='#') 3

  .clear

#sidebar_slugs_container.container_24
  -# changed id to sidebar from sidenav
  #sidebar.grid_7.push_17

    #resources.grid_7.alpha
      = link_to('http://redhat.com/openshift/community') do
        %h4 Resources
        %p Forums, Eval Guides, How-To's & Videos
    .clear

    #faq.grid_7
      = link_to('http://redhat.com/openshift/faq') do
        %h4 FAQ
        %p Got questions? We have answers
    .clear
    
    #partners.grid_7.omega
      = link_to :controller => 'partner', :action => :index do
        %h4 Our Partners
        %p A Strong Ecosystem of Technologies

  /Product slugs
  

  /Express slug
  .slug.grid_8.pull_7
    %h3 OpenShift is for Developers
    %p
      OpenShift is for developers who love to build on open source software, but who don't want the hassle of building and maintaining their own infrastructure.
    
    %a.fancybox(href='/app/images/rocket-dude-big.png')
      = image_tag '/app/images/rocket-dude.png'


  /Flex slug
  .slug.grid_9.pull_7.last 
  
    %h3 OpenShift is Current
    %p
      Supports all the coolest languages and frameworks, along with PaaS automation features like auto-scaling and built-in monitoring.
    
    %a.fancybox(href='app/images/layer-cake-big.jpg')
      = image_tag '/app/images/layer-cake.png'
   

  /End slugs
  .clear

/App promo boxes
#app_promos.container_24
  /Express box
  .express.promo.grid_8
    %h3 
      Deploy to the Cloud in Minutes,
      %br
      it's Free and Easy!
    %h4 Express
    %p
      = link_to 'Learn More', express_url

  /Flex box
  .flex.promo.grid_8
    %h3 
      Auto-scaling PaaS for 
      %br
      JBoss, Java, and PHP
    %h4 Flex
    %p
      = link_to 'Learn More', flex_url

  /Power box
  .power.promo.grid_8
    %h3 
      Tools for custom cloud 
      %br
      application deployments
    %h4 Power
    %p
      = link_to 'Learn More', power_url

  .clear
/End app promo boxes
