-# file: Main site index

.simpleSlideShow.slideShow.container_24
  #slides.grid_24
    %ul

      /Express slide
      %li#express.slide
        .slide-canvas
        .content
          %h2 Looking for a fast on-ramp to the Cloud?
          %p
            Get Ruby, PHP and Python apps in the cloud with just a few lines of code.

      /Flex slide
      %li#flex.slide
        .slide-canvas
        .content
          %h2 
            Need to auto-scale new and existing 
            %br
            apps in the Cloud?
          %p
            Provision, deploy, monitor and auto-scale JBoss, Java EE6 and PHP apps

    /Slide show navigation
    %ul.navigation
      %li
        %a.page(href='#') 1
      %li
        %a.page(href='#') 2

  .clear

/News ticker
.slideShow.newsTicker.container_24
  #news_title.grid_4.alpha
    %h4 Recent News

  /Actual news
  %ul#news.grid_20.omega
  
    - @news.each do |item|
      %li.news_item.slide
        =item

  .clear

#sidebar_slugs_container.container_24
  -# changed id to sidebar from sidenav
  #sidebar.grid_7.push_17

    #redhat_cloud.grid_7.alpha
      %a(href='http://redhat.com/cloud')
        %h4 Looking for Private or Hybrid Cloud Solutions?
        %p Check out redhat.com/cloud.
    .clear

    #resources.grid_7
      %a(href='#')
        %h4 Resources for Cloud Developers
        %p Forums, Eval Guides, How-To's & Videos
    .clear

    #faq.grid_7.omega
      %a(href='#')
        %h4 FAQ
        %p Got questions? We have answers
    .clear

  /Product slugs
  

  /Express slug
  .slug.grid_8.pull_7
    %h3 Leave application management and auto-scaling to us.
    %p
      Spend more time on what really matters, customers and developing new features.
      
    .icons
      %img(src='/app/images/git_logo_gs.png'
           alt='git')
      %img(src='/app/images/php_logo_gs.png'
           alt='PHP')
      
    %p.link
      = link_to 'Learn more >', express_url, :class => 'learn'

  /Flex slug
  .slug.grid_9.pull_7.last
    %h3 Develop anywhere, deploy to the Cloud
    %p
      Red Hat allows you to deploy and migrate your application across clouds, both public and private.

    .grid_4.alpha
      %ul
        %li End-to-end monitoring
        %li Auto-scaling
        %li Log management

    .grid_4.omega
      %ul
        %li EE6 Web
        %li memcache
        %li MySQL
    .clear

    %p.link
      = link_to 'Learn more >', flex_url, :class => 'learn'
    .clear
  /End slugs
  .clear

/App promo boxes
#app_promos.container_24
  /Express box
  .express.promo.grid_8
    %h3 
      Deploy to the Cloud today...
      %br
      it's Free and Easy
    %h4 Express
    %p
      = link_to 'Learn More', express_url

  /Flex box
  .flex.promo.grid_8
    %h3 
      Auto-scaling PaaS for JBoss, 
      %br
      Java EE6 and PHP apps
    %h4 Flex
    %p
      = link_to 'Learn More', flex_url

  /Power box
  .power.promo.grid_8
    %h3 
      Tools for custom cloud 
      %br
      application deployments
    %h4 Power
    %p
      = link_to 'Learn More', power_url

  .clear
/End app promo boxes

/Page columns
#page.container_24

  .prefix_1.grid_7
    %h4 Featured Video Title
    %p
      Video goes here

  .grid_8
    %h4 Featured Video Title
    %p
      Video goes here
    
  .grid_7.suffix_1
    %h2 Join the Discussion
    %p 
      We are here to help.
      = link_to 'OpenShift Forums >',          'http://openshift.redhat.com/forums', :class => 'learn'
  .clear
/End page columns
