-# file: Main site index

-# Add javascripts here - jquery is added automatically
- content_for :scripts do
  = stylesheet_link_tag '/app/stylesheets/fancybox.css'
  = javascript_include_tag '/app/javascripts/fancybox.js'
  = javascript_include_tag "/app/javascripts/jquery.slideshow.minified.js"
  = javascript_include_tag "/app/javascripts/jquery.tools.min.js"
  = javascript_include_tag "/app/javascripts/home"
  
.simpleSlideShow.slideShow.container_24
  #slides.grid_24
    %ul

      /Promo banners
      %li.slide
        .slide-canvas
        .content
          %h2 Free espresso and tech help at the OpenShift Cafe
          
      %li.slide
        .slide-canvas
        .content
          %h2 
            Win a Xoom at the OpenShift Cafe
      
      %li.slide
        .slide-canvas
        .content
          %h2
            Sign up for the OpenShift Webcast


    /Slide show navigation
    %ul.navigation
      %li
        %a.page(href='#') 1
      %li
        %a.page(href='#') 2
      %li
        %a.page(href='#') 3

  .clear

/High-level information
#info.container_24

  /For Developers
  %h3.section-header OpenShift is for Developers
  #for_developers.section.container_24
    %p.grid_3.push_1
      OpenShift is for developers who love to build on open source software, but who don't want the hassle of building and maintaining their own infrastructure.
    
    %a.fancybox.grid_20.push_1(href='/app/images/rocket-dude-big.png')
      = image_tag '/app/images/rocket-dude.png'

  .clear
  
  /Cutting-Edge
  %h3.section-header OpenShift is Cutting-Edge
  #cutting_edge.section.container_24
    %p.grid_3.push_1
      Supports all the coolest languages and frameworks, along with PaaS automation features like auto-scaling and built-in monitoring.
    
    %a.fancybox.grid_20.push_1(href='app/images/layer-cake-big.jpg')
      = image_tag '/app/images/layer-cake.png'
     
  .clear

  /App promo boxes
  %h3.section-header OpenShift Products  
  #app_promos.section.container_24

    /Express box
    .express.promo.grid_8
      %h3 
        Deploy to the Cloud in Minutes,
        %br
        it's Free and Easy!
      %h4 Express
      %p
        = link_to 'Learn More', express_url

    /Flex box
    .flex.promo.grid_8
      %h3 
        Auto-scaling PaaS for 
        %br
        JBoss, Java, and PHP
      %h4 Flex
      %p
        = link_to 'Learn More', flex_url

    /Power box
    .power.promo.grid_8
      %h3 
        Tools for custom cloud 
        %br
        application deployments
      %h4 Power
      %p
        = link_to 'Learn More', power_url

    .clear

  .clear
