-# file: Main site index

-# Add javascripts here - jquery is added automatically
- content_for :scripts do
  = stylesheet_link_tag '/app/stylesheets/fancybox.css'
  = javascript_include_tag '/app/javascripts/fancybox.js'
  = javascript_include_tag "/app/javascripts/jquery.slideshow.minified.js"
  = javascript_include_tag "/app/javascripts/home"
  
.simpleSlideShow.slideShow.container_24
  #slides.grid_24
    %ul

      /Promo banners
      %li.slide
        = image_tag "/app/images/promo_banner_free_espresso.png"
          
      %li.slide
        = image_tag "/app/images/promo_banner_win_xoom.png"


    /Slide show navigation
    %ul.navigation
      %li
        %a.page(href='#') 1
      %li
        %a.page(href='#') 2

  .clear

#page.container_24
  /High-level information
  #info.container_24

    /For Developers
    #for_developers.grid_11.prefix_1
      %h3 OpenShift is for Developers
      %p
        OpenShift is for developers who love to build on open source, but don't need the hassle of building and maintaining infrastructure. 
      
      = link_to 'Learn More >', express_path, :class => 'learn-more express'
    
    /Cutting-Edge
    #cutting_edge.grid_11
      %h3 OpenShift is Cutting-Edge
      %p
        Supports all the coolest languages and frameworks, plus PaaS automation features like auto-scaling and performance monitoring. 
      
      = link_to 'Learn More >', flex_path, :class => 'learn-more flex'

    .clear
    
    = image_tag "/app/images/PaaS.png", :id => 'front_image'
    
    .clear

  /App promo boxes
  #app_promos.container_24

    /Express box
    .express.promo.grid_8
      %h3 Express
      = link_to express_path do
        = image_tag '/app/images/gearshift_express_dev_preview.png'
      
      .description.express
        %ul
          %li Free and easy cloud deployments
          %li PHP, Python, Ruby
          %li Git push  and leave the rest to us!
          %li 
            = link_to 'Learn more >', express_path

    /Flex box
    .flex.promo.grid_8
      %h3 Flex
      = link_to flex_path do
        = image_tag '/app/images/gearshift_flex_dev_preview.png'
      
      .description.flex
        %ul
          %li Auto-scale new and existing apps in the cloud
          %li PHP, Java EE, MySQL, MongoDB, Memcache, DFS
          %li Full control over configuration & Built-in monitoring
          %li
            = link_to 'Learn more >', flex_path
            

    /Power box
    .power.promo.grid_8
      %h3 Power
      = link_to power_path do
        = image_tag '/app/images/gearshift_power_coming_soon.png'
      
      .description.power
        %ul
          %li Complete control over cloud deployments
          %li Custom typologies, root access, multi-tier dependencies
          %li Turn any application into a cloud deployment template
          %li 
            = link_to 'Learn more >', power_path

    .clear

  .clear
/End app promo boxes
