= form.inputs 'Contact Information', :class => 'inputs form-horizontal plan_upgrade account', :for => full_user, :autocomplete => 'shipping' do |u|
  = u.semantic_errors
  - if full_user.persisted?
    %p
      You are logged in as <strong>#{current_user_id}</strong> under the name <strong>#{full_user.first_name} #{full_user.last_name}</strong>.
      Your phone number for this account is <strong>#{full_user.phone_number}</strong>
  - else
    = u.inputs :inline => true, :required => true, :name => 'Name' do
      = u.input :greeting, :required => true, :as => :select, :collection => greetings_for_select, :include_blank => false, :input_html => { :class => 'input-mini'}, :autocomplete => 'honorifix-prefix'
      = u.input :first_name, :required => true, :input_html => { :class => 'input-small', :placeholder => "First"}, :autocomplete => 'given-name'
      = u.input :last_name, :required => true, :input_html => { :placeholder => "Last"}, :autocomplete => 'family-name'
    = u.inputs :inline => true, :required => true, :name => 'Company Info' do
      = u.input :title, :required => false, :input_html => { :placeholder => "Job Title", :class => 'input-medium'}, :autocomplete => 'organization-title'
      = u.input :company, :required => true, :input_html => { :placeholder => "Company Name", :class => 'input-medium'}, :autocomplete => 'organization'
    = u.input :phone_number, :required => true, :label => 'Phone Number', :input_html => { :class => 'input-medium', :maxlength => 30, :type => 'tel' }, :autocomplete => 'tel'
    = u.input :email_subscribe, :as => :boolean, :checked_value => true, :unchecked_value => false, :required => false, :label => 'Receive mailings?', :input_html => { :title => 'Check here to receive periodic e-mails from Red Hat' }
    %p{ :style => 'font-size: 8pt; margin: 0px;' }
      &nbsp;
    = u.input :password, :required => true, :label => 'New Pasword', :input_html => { :class => 'input-medium' }
    = u.input :password_confirmation, :as => :password, :required => true, :label => 'Confirm Password', :input_html => { :class => 'input-medium' }

- content_for :stylesheets do
  = stylesheet_link_tag 'plan_upgrade', :media => :all
