- content_for :title, "Change your Plan"
= plan_upgrade_steps 3

= semantic_form_for @user, :url => account_plan_upgrade_path, :html => {:method => :post} do |f|
  = hidden_field_tag :plan_id, @plan.id

  = f.semantic_errors

  %h2 Are you sure you want to change from #{@current_plan.name} to #{@plan.name}?

  %p ... description of change ...

  .row
    %section.span6
      %p Your method of payment is:
      = render :partial => 'payment_method_summary', :locals => {:payment_method => @payment_method}
    %section.span6
      %p Bill to:
      - if @billing_info.present?
        = render :partial => 'billing_info/summary', :locals => {:billing_info => @billing_info}
      %p= link_to @billing_info.blank? ? "Add a billing address to this account" : "Change billing address", edit_account_plan_upgrade_billing_info_path

  = link_to "Select a different plan", account_plans_path, :class => 'btn'
  = submit_tag "Yes, I want to change plans", :class => 'btn-primary'
  = f.loading
