- content_for :title, 'Set Account Information'
= plan_upgrade_steps 1

= semantic_form_for @full_user, :namespace => :upgrade_account, :url => edit_account_plan_upgrade_path, :html => {:method => :put} do |f|
  - if @full_user.persisted?
    %section
      %p
        Your Red Hat Network (RHN) account <strong>#{current_user_id}</strong> will be used when
        contacting technical support or making account changes. You can change the information
        stored there at any time by logging in at #{link_to "www.redhat.com", red_hat_account_url, :class => 'external', :target => "_blank"}.
  - else
    %section.row
      .span8
        = f.inputs 'Account', :class => 'inputs form-horizontal', :for => @full_user do |u|
          = u.semantic_errors
          = u.inputs :inline => true, :required => true, :name => 'Name' do
            = u.input :greeting, :required => true, :as => :select, :collection => greetings_for_select, :include_blank => false, :input_html => { :class => 'input-mini' }
            = u.input :first_name, :required => true, :input_html => { :placeholder => "First" }
            = u.input :last_name, :required => true, :input_html => { :placeholder => "Last" }
          = u.inputs :inline => true, :required => true, :name => 'Company Info' do
            = u.input :title, :required => false, :input_html => { :placeholder => "Job Title" }
            = u.input :company, :required => true, :input_html => { :placeholder => "Company Name" }
          = u.input :phone_number, :required => true, :label => 'Phone Number', :input_html => { :class => 'input-medium', :maxlength => 30 }
          = u.input :email_subscribe, :as => :boolean, :checked_value => true, :unchecked_value => false, :required => false, :label => 'Receive mailings?', :input_html => { :title => 'Check here to receive periodic e-mails from Red Hat' }
          %p{ :style => 'font-size: 8pt; margin: 0px;' }
            &nbsp;
          = u.input :password, :required => true, :label => 'New Password', :input_html => { :class => 'input-medium' }
          = u.input :password_confirmation, :as => :password, :required => true, :label => 'Confirm Password', :input_html => { :class => 'input-medium' }

      %aside.span4
        %h5 Complete your Account
        %p
          To purchase a plan, we need to have a few pieces of information for tax and 
          legal purposes.  The info you provide will be stored as part of a Red Hat Network
          account (RHN) which gives you access to other Red Hat properties and services.

        %h5 How does a Red Hat account affect me?
        %p
          Upgrading your account will not change how you access and use OpenShift Online, nor will
          Red Hat or OpenShift Online contact you differently as part of this upgrade.  A Red Hat
          account is necessary for contacting Red Hat Support.

  = render :partial => 'billing_info/form', :locals => {:billing_info => @billing_info, :show_vat => @show_vat, :user => current_aria_user, :form => f}

  = f.buttons do
    = link_to "Back to plans", account_plans_path, :class => 'btn'
    = f.commit_button "Update my account"
    = f.loading

- content_for :stylesheets do
  = stylesheet_link_tag 'plan_upgrade', :media => :all
