- content_for :title, "Change Plan"
= plan_upgrade_steps 3

%h2 You are already subscribed to #{@plan.name}

%section
  .row
    %section.span6
      %p Your method of payment is:
      = render :partial => 'payment_method_summary', :locals => {:payment_method => @payment_method}
    %section.span6
      %p Bill to:
      = render :partial => 'billing_info_summary', :locals => {:billing_info => @billing_info}

  = link_to "Select a different plan", account_plans_path, :class => 'btn'
