- content_for :stylesheets do
  = stylesheet_link_tag 'site.css', :media => 'all'
  -#= stylesheet_link_tag 'home.css', :media => 'all'

%header
  %div{:style=>'display:none'}
    .is-above-980
    .is-above-1200
    .is-under-979
    .is-in-portrait
    .is-under-767
    .is-under-481

  #top.section-top
    .container
      .pull-left= link_to "Sign up for the newsletter", "signup_news"
      .pull-right.login
        = link_to "Sign in", "signin", :class => 'btn btn-small'
        - ['f', 'g', 't'].each do |p|
          = link_to p, :class => 'btn btn-small login-provider' do
            %img{:alt => p}
  %nav#nav.section-nav
    .navbar
      .container
        -# Was .nav-collapse, has some issues
        .brand
          %a{:href => '.'}
            .brand-image
            .brand-text
              %strong> Open
              Shift
        %ul.nav
          %li.active
            = link_to "." do
              %span Learn More
          %li
            = link_to "dev_center" do
              %span Documentation
          %li.divider &nbsp;
          %li
            = link_to "console" do
              %span Console
          %li
            = link_to "community" do
              %span Community

    .messaging.messaging-home
      .container
        %h1.primary.headline
          Develop and Scale 
          %strong#technology-rotate Apps
          in the Cloud
        %h2.secondary OpenShift is a free, auto-scaling platform as a service for web applications.  It streamlines the application life cycle so developers can focus on their users, customers, and code.

#learn.section-striped.lift-counter
  .container.container-inset
    .row
      = take_action new_account_path, 'Create your <strong>first three apps</strong> for free', 'Try it out', :class => 'span12'

      .span6
        %ul.learn.unstyled
          %li
            = link_to "learn", :class => 'link-tile' do
              %img{:src => 'clock.png'}
              %h4 Superfast!
              %p Code and deploy to the cloud in minutes.  Faster and easier than it has ever been.
          %li
            = link_to "learn", :class => 'link-tile' do
              %img{:src => 'key.png'}
              %h4 Don't get locked in
              %p Minimal coding to the platform and built on open technologies, so you can take it with you.
          %li
            = link_to "learn", :class => 'link-tile' do
              %img{:src => 'scale.png'}
              %h4 Scale easily in any language
              %p Grow your Java, Perl, Ruby, Python, and Node.js apps easily with resource scaling.
      .span6
        %ul.news.unstyled
          %li
            = link_to "news", :class => 'link-tile' do
              %h4 Node.js now running on Openshift
              %p Everyone's most liked (and most hated) language is now available on OpenShift. Deploy your node.js apps in the cloud faster than you can say NaN!
          %li
            = link_to "news", :class => 'link-tile' do
              %h4 New OpenShift Express upgrade - March 12
              %p We pushed a minor Express upgrade today, including some bug fixes and general UI enhancements. We've added a preview section to the app
    .row
      .span6
        %p.gutter= link_to "Learn about OpenShift", "learn", :class => 'action-more'
      .span6
        %p.gutter= link_to "Read the OpenShift blog", "blog", :class => 'action-more'

#buzz.section-base
  .container.container-inset
    .row.row-buzz.lift
      .span12
        .column-buzz
          %h2 
            Check the 
            %strong Buzz
          %hr
          .row-fluid
            .span6
              %blockquote
                %p Testimonial 1
                %small Some person
              %blockquote 
                %p Testimonial 2
                %small Some other person
            .span6
              .tweet
                %img{:src => '/app/images/redhat.png'}
                %p Twitter post 1
                %small Some person
              .tweet
                %img{:src => '/app/images/redhat.png'}
                %p Twitter post 2
                %small Some other person

          .row-fluid
            .span6
              = link_to "community", :class => 'link-with-action' do
                %strong Join
                our community
            .span6
              .align-right
                = link_to "follow", :class => 'link-with-action' do
                  %strong Follow
                  OpenShift
              .align-right
                = link_to "feed", :class => 'link-with-action' do
                  %strong More
                  = "#OpenShift buzz"

          .callout
            .one Look for team
            .two OpenShift
            .three at Mongo DB
%footer
  #footer-nav
    .container
      .row
        .span3.link-column
          %header
            %h3 News
          %ul.unstyled
            %li= link_to 'Announcements', 'https://www.redhat.com/openshift/forums/news-and-announcements'
            %li= link_to 'Blog', 'https://www.redhat.com/openshift/blogs'
            %li= link_to 'Twitter', 'http://www.twitter.com/#!/openshift'

        .span3.link-column
          %header
            %h3 Community
          %ul.unstyled
            %li= link_to 'Forum', 'https://www.redhat.com/openshift/forums/'
            %li= link_to 'IRC Channel', 'http://webchat.freenode.net/?randomnick=1&channels=openshift&uio=d4'
            %li= link_to 'Feedback', 'mailto:openshift@redhat.com'

        .span3.link-column
          %header
            %h3 Legal
          %ul.unstyled
            %li= link_to 'Legal', legal_path
            %li= link_to 'Privacy Policy', legal_openshift_privacy_path
            %li= link_to 'Security', 'https://access.redhat.com/security/team/contact/'

        .span3.link-column
          %header
            %h3 Help
          %ul.unstyled
            %li= link_to 'FAQ', 'http://www.redhat.com/openshift/faq'
            %li= link_to 'Contact', 'mailto:openshift@redhat.com'

  %section#copyright
    .container
      %img{ :src => "/app/images/redhat.png", :alt => "Red Hat" }
      .pull-right Copyright &copy; 2011 Red Hat, Inc.
