- id = ssh_key.name ? "ssh_key_#{ssh_key.name}" : "ssh_key_new"
- key_label = ssh_key.name ? "SSH Public Key (#{ssh_key.display_name})" : "SSH Public Key"

= semantic_form_for ssh_key, :remote => true, :namespace => id, :html => {:id => id} do |form|
  = form.inputs do
    = form.input :name, :as => ssh_key.name ? :hidden : :string
    = form.input :key_string, :as => :text, :label => key_label, :hint => "Your ssh key should start with ssh-rsa or ssh-dss.", :required => true
    = form.input :primary, :as => :hidden
    = form.input :mode, :as => :hidden, :value => ssh_key.name ? "update" : "create"
  = form.buttons do
    = form.commit_button :button_html => {:class => 'btn btn-primary', :value => 'Save'}
