- content_for :page_title do
  OpenShift Update Ssh key

%section.main
  .content
    %h1 Update Your Ssh key: #{@express_ssh_key.name}
    = render 'layouts/flashes'
    
    = semantic_form_for @express_ssh_key, :url => edit_sshkey_express_sshkeys_path, :html => { :method => :put } do |f|
      = f.hidden_field :mode, :value => @dom_action
      = f.hidden_field :name, :value => @express_ssh_key.name
      = f.input :key_string, :as => :text, :label => "Paste your public key"
      = f.buttons do
        = f.commit_button :button_html => { :class => 'button', :value => 'Save' }