%dt{:class => ssh_key.primary? ? 'primary_key' : 'additional_key', :id => "label_ssh_key_#{ssh_key.name}"}
  = ssh_key.name
%dd.ssh_key_preview{:id => "preview_ssh_key_#{ssh_key.name}"}
  %code
    = ssh_key.to_s.slice(0, 40) + '...'

  - if ssh_key.primary?
    = link_to 'Edit', { :controller => "express_domain", :action => "edit_sshkey" }

  - unless ssh_key.primary?
    = link_to 'Edit', { :controller => "express_ssh_keys", :action => "edit_sshkey", :key_name => ssh_key.name }
    = link_to 'Delete', { :controller => "express_ssh_keys", :action => "delete_sshkey", :key_name => ssh_key.name }, :confirm => "Are you sure you want to delete your key '#{ssh_key.name}'?", :method => "delete"