%object{ :width=>"#{width}", :height=>"#{height}" }
  %param{ :name=>"movie", :value=>"http://www.tudou.com/v/#{vid_id}" }
  %param{ :name=>"allowFullScreen", :value=>"true" }
  %param{ :name=>"wmode", :value=>"transparent" }
  %embed{ :src=>"http://www.tudou.com/v/#{vid_id}",
    :value=>"transparent",
    :type=>"application/x-shockwave-flash",
    :allowFullScreen=>"true",
    :wmode=>"opaque",
    :width=>"#{width}",
    :height=>"#{height}" }
