-# file: Express product page


- content_for :page_title do
  Express

-# Product navigation
- content_for :product_nav do
  %ul 
    %li
      = link_to "What's Express?", '#about', :class => 'active'
    %li
      = link_to 'Videos', '#videos'
    %li
      = link_to 'Documentation', 'https://docs.redhat.com/docs/en-US/OpenShift_Express/1.0/html/User_Guide/index.html'
    %li
      = link_to 'Forum', 'http://www.redhat.com/openshift/forums/express'
  
  - if logged_in?
    - if has_access? :express
      #account.signed_in
        %header
          %h2
            Account
        
        %ul
          %li
            = link_to 'Quickstart', '#quickstart'
          
          %li
            = link_to 'Express Console', dashboard_path
    
    - else
      #account.signed_out
        %header
          %h2
            Account
        
        %ul
          %li
            Access Pending...
  
  - else
    #account.signed_out
      %header
        %h2
          Account
      %ul  
        %li
          = link_to 'Sign up to try Express!', '/app/user/new/express', :class => 'sign_up'
  
-# Main Content
- content_for :product_content do
  = render 'layouts/flashes'
  %section#about.default
    %header
      %h1
        What's Express?
        
    %p
      Looking for a fast on-ramp to the Cloud? Get Java, Ruby, PHP, Perl, and Python apps in the cloud with just a few lines of code.

    %h2
      Install
 
    %p
      Download and install the OpenShift Express client tools so you can deploy and manage your application in the cloud.  
          
    .vid  
      <iframe width="425" height="349" src="//www.youtube.com/embed/KLtbuvyJFFE" frameborder="0" allowfullscreen></iframe>
    
    %h2
      Create
   
    %p
      Create a subdomain for your application and clone the Git master repository from the cloud.
          
    .vid
      <iframe width="425" height="349" src="//www.youtube.com/embed/p83Cx6s_q1U" frameborder="0" allowfullscreen></iframe>
 
    %h2
      Deploy
    
    %p
      Add your application code to the Git repository and push to the cloud. Congratulations, your application is live!
    
    .vid
      <iframe width="425" height="349" src="//www.youtube.com/embed/H9rMgKCoW3w" frameborder="0" allowfullscreen></iframe>

  %section#videos
    %header
      %h1
        Express Videos
    
    .product-video 
      %header
        %h2 OpenShift Express Product Tour
      
      %p.video-author.author
        Mike McGrath,  Cloud Architect - Red Hat
      
      .video-thumb.thumb
        = link_to 'video/OpenShift-Express-demo' do 
          = image_tag '/app/images/video_stills/OpenShift-Express-demo.png',  
            :title => "OpenShift Express Product Tour", 
            :alt => "OpenShift Express Product Tour"
    
      %p.video-description
        This video walks you through the high level functionality of OpenShift Express, from installing the client tools, creating a subdomain to deploying your app onto the cloud.
          
    .product-video
      %header
        %h2
          Mobile App Deployment to Express w/ Appcelerator
      
      %p.video-author.author
        Nolan Wright, CTO and Co-Founder - Appcelerator
      
      .video-thumb.thumb
        = link_to "video/OpenShift-Appcelerator-demo" do
          = image_tag "/app/images/video_stills/OpenShift-Appcelerator-demo.png",
            :title => "OpenShift Appcelerator Demo",
            :alt => "OpenShift Appcelerator Demo"
    
      %p.video-description
        This video shows you just how easy it is to develop and deploy a mobile app onto OpenShift Express with Appcelerator's Mobile Cloud Platform
      
    .product-video
      %header
        %h2
          Deploying to OpenShift PaaS with the eXo Cloud IDE
      %p.video-author.author
        Mark Downey, Developer Advocate
        
      .video-thumb.thumb
        = link_to "video/OpenShift-eXo-demo" do
          = image_tag "/app/images/video_stills/OpenShift-eXo-demo.png",
            :title => "Deploying to OpenShift with eXo Cloud IDE",
            :alt => "Deploying to OpenShift PaaS with the eXo Cloud IDE"
      
      %p.video-description
        This video demonstrates how easy it is to use the eXo cloud IDE to develop and deploy applications on OpenShift.
      
      = link_to 'Watch more videos', 'http://www.redhat.com/openshift/videos', :class => 'more'
  
  %section#docs
    %header
      %h1
        Documentation

    = link_to 'Read more documentation', 'http://www.redhat.com/openshift/documents', :class => 'more'
  
  -if logged_in?
    %section#quickstart
      %header
        %h1
          Quickstart
    
      %ol#toc
        %li 
          = link_to 'Install the client tools', '#install_client_tools'
        
        %li
          = link_to 'Create a domain name', '#create_domain_name'
        
        %li
          = link_to 'Create your first application', '#create_application'
        
        %li
          = link_to 'Make a change, publish', '#publish'
          
        %li
          = link_to 'Next steps', '#next_steps'

      %ol#instructions
        %li#install_client_tools
          %h3 Install the client tools
          
          %ul#install
            #install_toc
              %ul
                %li 
                  = link_to 'Red Hat Enterprise Linux or Fedora', '#rhel'
                %li
                  = link_to 'Other Linux Systems', '#other_nix'
                %li 
                  = link_to 'Mac OS X', '#mac'
                %li 
                  = link_to 'Windows', '#win'
                  
            %li#rhel.install
              %h4 Red Hat Enterprise Linux or Fedora
              
              %ol
                %li.prereqs
                  %h5 Prerequisites
                  %ul
                    %li RHEL 6 and up or Fedora 14 and up.
                    %li Root or sudoer access
                %li
                  Download the express repo file
                  %a(href="/app/repo/openshift.repo") openshift.repo
                
                %li
                  Move the openshift.repo file to your /etc/yum.repos.d/ directory.
                  
                  %pre
                    $ sudo mv ~/Downloads/openshift.repo /etc/yum.repos.d/
                  Replace '~/Downloads/openshift.repo' with the location to which you saved the repo file.
                        
                %li
                  Install the client tools:
                  %pre $ sudo yum install rhc
              
              %aside
                %p
                  The <code>sudo</code> command will only work if your user is listed in the sudoers file. For more information on setting up sudo, see <a href="http://www.gratisoft.us/sudo/sudo.html">http://www.gratisoft.us/sudo/sudo.html</a>.
                
                %p
                  As an alternative to <code>sudo</code>, you can activate a root terminal with the <code>su</code> command and the root password. In that case, omit <code>sudo</code> from the given commands. Don't forget to close your root terminal when you're done!
                
                %aside 
                  = link_to 'Installing OpenShift client tools video walkthrough', 'http://www.youtube.com/watch?v=KLtbuvyJFFE'
                  
            
            %li#other_nix.install
              %h4 Other Linuxes
              %ol
                %li.prereqs
                  %h5 Prerequisites
                  %ul
                    %li Root access
                    %li Ruby 1.8 or higher installed or available to be installed
                  
                %li
                  Install the required packages: git, ruby, rubygems, and the ruby 1.8 development package.
                  
                %li
                  Install the gem:
                  %pre $ su -c 'gem install rhc' 
            
            %li#mac.install
              %h4 Mac

              %ol
                %li.prereqs
                  %h5 Prerequisites
                  %ul    
                    %li 
                      git
                      %ol
                        %li
                          %a(href="http://developer.apple.com/xcode") Full Xcode Suite -- or --
                        %li
                          %a(href="http://code.google.com/p/git-osx-installer/") git for OS X
                %li
                  Install the gem:
                  %pre
                    :preserve
                      $ sudo gem install json_pure
                      $ sudo gem install rhc

            %li#win.install
              %h4 Windows

              %ol
                %li.prereqs
                  %h5 Prerequisites
                  %ul
                    %li
                      %a(href="http://www.cygwin.com") Cygwin
                    %li
                      The following optional cygwin components
                      %ul
                        %li openssh
                        %li ruby
                        %li make
                        %li gcc
                        %li git
                
                  %li
                    Download and extract rubygems from <a href="http://rubyforge.org/projects/rubygems">http://rubyforge.org/projects/rubygems</a>
                  %li
                    From within cygwin run:
                    %pre $ ruby &lt;path_to_extracted_rubygems&gt;/setup.rb install
              
                  %li
                    Install the gem:
                    %pre $ gem install rhc
        
        %li#create_domain_name
          
          %h4 Create a domain name
          .main
            
            %p
              Using your OpenShift login and password, call rhc-create-domain to create a unique domain name for your applications.

              %pre
                :preserve
                  $ rhc-create-domain -n mydomain -l rhlogin
                  Password: (type... type... type...)

              
            %aside
              %p
                OpenShift domain names make up part of your app's url. They are also unique across all OpenShift users, so choose wisely, and be creative!
                
            %aside
              %p
                The <code>rhc-create-domain</code> command will create a configuration file - &lt;your home directory&gt;/.openshift/express.conf - which sets up a default login.
          
          #domain_link
            %h4 Why wait?
            %h5 Reserve your amazing domain name right now!
            %p
              All you need is an ssh keypair and a unique name.
            
            = link_to 'Create your domain now', dashboard_path, :class => 'button'
          
              
        %li#create_application
          %h4 Create your first application

          %p
            Now you can create an application.

            %pre
              :preserve
                $ rhc-create-app -a myapp -t php-5.3
                Password: (type... type... type...)
          
          %p
            This will create a remote git repository for your application, and clone it locally in your current directory.
          
          %aside
            %p
              OpenShift offers many application stacks. Run <code>rhc-create-app -h</code> to see all of your options.
          
          %aside
            %p
              Your application's domain name will be &lt;your app name&gt;-&lt;your domain name&gt;.rhcloud.com. So, the application created by the example commands would be located at myapp-mydomain.rhcloud.com
          
          %aside
            = link_to 'Creating a application video walkthrough', 'http://www.youtube.com/watch?v=p83Cx6s_q1U'
          
        %li#publish 
          %h4 Make a change, publish

          %p
            As we all know, getting an application running is only the first step. Now you are on the road to making it your own.  Here's an example for
            the php framework.

            %pre
              :preserve
                $ cd myapp
                $ vim php/index.php
                (Make a change...  :wq)
                $ git commit -a -m "My first change"
                $ git push
          %p  
            Now, check your URL - your change will be live.
          
          %aside
            = link_to 'Deploying an application video walkthrough', 'http://www.youtube.com/watch?v=H9rMgKCoW3w'
            
          %aside
            %p
              Use whichever ide or editor works best for you. Chances are, it'll have git support. Even if it doesn't, you're just two simple commands away from glory!
          
          %aside
            %p
              Checkout these great guides for deploying popular frameworks on OpenShift:
              %ul
                %li
                  = link_to 'TurboGears2 Python framework', 'https://www.redhat.com/openshift/blogs/deploying-turbogears2-python-web-framework-using-express'
                  
                %li
                  = link_to 'Pyramid Python framework', 'https://www.redhat.com/openshift/blogs/deploying-a-pyramid-application-in-a-virtual-python-wsgi-environment-on-red-hat-openshift-expr'
                
                %li
                  = link_to 'Drupal', 'https://www.redhat.com/openshift/sites/default/files/documents/RHOS_Express_Getting_Started_w_Drupal.pdf'
                
                %li
                  = link_to 'MediaWiki', 'https://www.redhat.com/openshift/sites/default/files/documents/RHOS_Express_Getting_Started_w_MediaWiki.pdf'
                  
          
        %li#next_steps
          %h4 Next steps

          %p
            While this has gotten you started, there is a lot more information out there to really get you going.  Check out the following pages for videos, blogs, and tutorials:

            %ul
              %li
                = link_to 'Videos', 'http://www.redhat.com/openshift/videos', :class => 'more'
              %li
                = link_to 'Technical Documentation', 'http://docs.redhat.com/docs/en-US/OpenShift_Express/1.0/html/User_Guide/index.html', :class => 'more'
              %li
                = link_to 'Support Forums', 'http://www.redhat.com/openshift/forums', :class => 'more'
      
  
