-# file: Flex product page

-# 
  TODO: at some point, we should be using partials for some of this content
  
- content_for :scripts do
  = javascript_include_tag "/app/javascripts/jquery.tools.min.js"
  = javascript_include_tag "/app/javascripts/products"
  
- content_for :page_title do
  Flex

-# Flex title
- content_for :pageheader do
  = render 'shared/pageheader', :product => 'flex', :title => 'OpenShift Flex', :subtitle => 'Auto-scaling PaaS for JBoss, Java, and PHP'
  
-# About Flex
- content_for :banner do
  %h2 OpenShift Flex
  %h3 Need to auto-scale new and existing apps in the Cloud?
  %p
    Provision, deploy, monitor and auto-scale JBoss, Java EE6 and PHP apps    
    
  = link_to 'Try it now!', '/app/flex_redirect', :class => 'try_it'     

-# Tabs
- content_for :tabs do
  %ul#tab_navigation
    %li
      %a.step-one(href="#step_1") Build
    %li
      %a.step-two(href="#step_2") Deploy
    %li
      %a.step-three(href="#step_3") Monitor &amp; Scale
  
  #step_1.tab
    %h3 Build your Server Cluster and Application Stack
    
    .tab_illustration
      <object width="560" height="349"><param name="movie" value="#{request.protocol}www.youtube.com/v/CEm-o61tocU?version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="#{request.protocol}www.youtube.com/v/CEm-o61tocU?version=3" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="349"></embed></object>
    
    %p
      OpenShift Flex's wizard driven interface makes it easy to provision resources and build integrated application stacks.
      
    = link_to 'Watch the video >>>', 'http://www.youtube.com/watch?v=CEm-o61tocU', :class => 'watch'

  #step_2.tab
    %h3 Deploy, Modify, Rollback and Restart Applications

    .tab_illustration
      <object width="560" height="349"><param name="movie" value="#{request.protocol}www.youtube.com/v/KxX7wUg4zq8?version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="#{request.protocol}www.youtube.com/v/KxX7wUg4zq8?version=3" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="349"></embed></object>

    %p
      OpenShift Flex makes it easy to deploy your application, make modifications to code and components, version your changes and redeploy.
    
    = link_to 'Watch the video >>>', 'http://www.youtube.com/watch?v=KxX7wUg4zq8', :class => 'watch'

  #step_3.tab
    %h3 Monitoring and Auto-Scaling Built-in

    .tab_illustration
      <object width="560" height="349"><param name="movie" value="#{request.protocol}www.youtube.com/v/CbUQyc7OFlA?version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="#{request.protocol}www.youtube.com/v/CbUQyc7OFlA?version=3" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="349"></embed></object>

    %p
      Without the use of agents or scripts, OpenShift Flex gives you end-to-end monitoring straight-out-of-box with configurable auto-scaling that lets you decide when and how to scale your application.
    
    = link_to 'Watch the video >>>', 'http://www.youtube.com/watch?v=CbUQyc7OFlA', :class => 'watch'

-# Video section
- content_for :videos do
  .product-video 
    %h3 OpenShift Flex Product Tour
    %p.video-author.author
      Issac Roth,  PaaS Master - Red Hat
    
    .video-thumb.thumb
      %a(href="video/OpenShift-Flex-demo")
        %img(src="/app/images/video_stills/OpenShift-Flex-demo.png" 
          title="OpenShift Flex Product Tour" 
          alt="OpenShift Flex Product Tour")
  
    %p.video-description
      This video walks you through the high level functionality of OpenShift Flex, covering provisioning, deploying, monitoring and scaling applications in the cloud.
    
    /
      .video-meta.meta
        %p.video-length
          3 min, 27 seconds
        %p.video-postdate
          Posted May 5, 2011

  .product-video 
    %h3 What are people saying about OpenShift?
    %p.video-author.author
      Developers, ISVs, customers and partners
    
    .video-thumb.thumb
      %a(href="video/OpenShift-Ecosystem")
        %img(src="/app/images/video_stills/OpenShift-Ecosystem.png" 
          title="Developers, ISVs, customers and partners" 
          alt="Developers, ISVs, customers and partners")
      
    %p.video-description
      
      This video shows you what developers, ISVs, customers and partners are saying about Red Hat's exciting new OpenShift PaaS.
    
    /
      .video-meta.meta
        %p.video-length
          3 min, 27 seconds
        %p.video-date.date
          Posted May 5, 2011
    
  .product-video
    %h3 Deploying a Mongo Driven Application on OpenShift Flex
    %p.video-author.author
      David Blado
      
    .video-thumb.thumb
      <iframe width="300" height="200" src="http://www.youtube.com/embed/tGOUo3_I8pQ" frameborder="0" allowfullscreen></iframe>
    
    %p.video-description
      This video walks a user through deploying an application on OpenShift Flex that uses MongoDB as its database backend. Complete with performance and log management demo!
    
      .video-meta.meta
        %p.video-length
          3 min, 3 seconds
        %p.video-date.date
          Posted June 21, 2011
    
  .product-video
    %h3 Deploying a Seam Application on OpenShift Flex
    %p.video-author.author
      David Blado
      
    .video-thumb.thumb
      <iframe width="300" height="200" src="http://www.youtube.com/embed/axH_XNGhr08" frameborder="0" allowfullscreen></iframe>
    
    %p.video-description
      This video walks a user through deploying a Seam application on OpenShift Flex. Complete with a performance and log management demo!
    
      .video-meta.meta
        %p.video-length
          2 min, 33 seconds
        %p.video-date.date
          Posted June 21, 2011
  %a.more(href="http://www.redhat.com/openshift/videos") More Videos &gt;
  
-# Community section
- content_for :community do
  .post
    %h3 Announcements
    
    %p
      Subscribe to <a href="https://www.redhat.com/openshift/forums/news-and-announcements">Annoucements</a> to get product release notifications.
    
    = link_to 'Subscribe >', 'https://www.redhat.com/openshift/forums/news-and-announcements', :class => 'more'
    
  .post
    %h3 Django Application in OpenShift Flex - Workaround
    %p.post-author.author
      by Attila Nagy, OpenShift Community Member
    %p
      Currently OpenShift Flex doesn't support Python / Django based applications, but there is a workaround. The solution is to use Jython - which generates Java bytecode from Python code. With project Django on Jython you will be able to generate a WAR file from your Django project and you can easily deploy it as a Tomcat application in OpenShift Flex.
    
    .post-meta.meta
      %p.post-date.date
        Posted on May 27, 2011
    
    = link_to 'Read more >', 'https://www.redhat.com/openshift/forums/flex/django-application-in-openshift-flex-workaround', :class => 'more'
      
  .post
    %h3 NoSQL in the Cloud? No Problem - Deploying MongoDB on OpenShift Flex
    %p.post-author.author
      by Nosh Petigara, Director of Product Strategy at 10gen
    
    %p
      MongoDB is an open source document-oriented database designed with scalability and developer agility in mind. Instead of storing your data in tables and rows as you would with a relational database, with MongoDB you store (JSON-like) documents with dynamic schemas. The goal of MongoDB is to bridge the gap between key-value stores (which are fast and scalable) and relational databases (which have rich functionality). 10gen develops MongoDB, and offers production support, training, and consulting for the open source database
    
    %p
      Red Hat recently announced OpenShift, a PaaS from which you can use the available MongoDB cartridge to easily deploy and manage applications with a MongoDB backend.
    
    = link_to 'Read more >', 'https://www.redhat.com/openshift/blogs/nosql-in-the-cloud-no-problem-deploying-mongodb-on-openshift-flex', :class => 'more'
    
  .post
    %h3 Getting Started with JBoss
    %p
      This comprehensive guide walks you through deploying, monitoring, managing, and auto-scaling a JBoss application on OpenShift Flex.
    
    .post-meta.meta
      %p.post-date.date
        Posted on April 29, 2011
        
    = link_to 'Read more >', 'https://www.redhat.com/openshift/sites/default/files/documents/RHOS_Flex_Getting_Started_w_JBoss.pdf', :class => 'more'

-# Resource links
- content_for :resources do

  %ul
    %li
      = link_to "OpenShift Flex User Guide", "http://docs.redhat.com/docs/en-US/OpenShift/1.0/html/OpenShift_Flex_User_Guide/index.html"
    %li
      = link_to "OpenShift Flex Evaluation Guide", "https://www.redhat.com/openshift/sites/default/files/documents/RHOS_Flex_Eval_Guide.pdf"
    
    %li
      = link_to "Deploying Drupal on OpenShift Flex", "https://www.redhat.com/openshift/sites/default/files/documents/RHOS_Flex_Getting_Started_w_Drupal_1.pdf"
    
    %li
      = link_to "Deploying JBoss Applications on OpenShift Flex", "https://www.redhat.com/openshift/sites/default/files/documents/RHOS_Flex_Getting_Started_w_JBoss.pdf" 
  
  = link_to 'More Documentation >', 'http://www.redhat.com/openshift/documents', :class => 'more'
  
-# Tour link
- content_for :tour_link do
  %a(href="#")
    %h3 Take the Tour!
    %p 
      Check it out and see how cool it is!

-# Platforms
- content_for :platforms do
    
  %h4 Application Types
  %ul
    %li Java
    %li PHP
  
  %h4 Web Servers
  %ul
    %li Apache
  
  %h4 App Servers
  %ul
    %li JBoss AS
    %li Tomcat
    %li Apache
  
  %h4 Databases
  %ul
    %li MySQL
    %li MongoDB
    %li Memcached
    
  = link_to 'More information >', 'http://www.redhat.com/openshift/faq', :class => 'more'

-# Supplementary documentation links
- content_for :doc_links do
  #doc_link
    = link_to 'http://www.redhat.com/openshift/kb' do
      %h3
        Knowledge Base
      %p
        Get schooled! &gt;
    
    = link_to 'http://www.redhat.com/openshift/documents' do
      %h3 Docs
      %p
        For those who want to RTFM! &gt;

-# Promos
- content_for :promos do
  /
    .sidebar-promo
      %h3 Promo title
      %p
        This is an example promo.
