-# file: Flex product page

- content_for :page_title do
  Flex

-# Product navigation
- content_for :product_nav do
  %ul 
    %li
      = link_to "What's Flex?", '#about', :class => 'active'
    %li
      = link_to 'Videos', '#videos'
    %li
      = link_to 'Documentation', '#docs'
    %li
      = link_to 'Forum', 'http://www.redhat.com/openshift/forums/flex'
  
  - if logged_in?
    #account.signed_in
      %header
        %h2
          Account
      
      %ul
        %li
          = link_to 'Quickstart', '#quickstart'
        -#
          %li
            = link_to 'Dashboard', dashboard_path
  
  - else
    #account.signed_out
      %header
        %h2
          Account
      %ul  
        %li
          = link_to 'Sign in to get started!', login_path, :class => 'sign_in'
        %li
          Quickstart
        -#
          %li
            Dashboard

-# Main Content
- content_for :product_content do
  %section#about.default
    %header
      %h1
        What's Flex?
  
    %h2
      Build your Server Cluster and Application Stack
      
    %p
      OpenShift Flex's wizard driven interface makes it easy to provision resources and build integrated application stacks.

    .vid  
      <iframe width="425" height="349" src="//www.youtube.com/embed/CEm-o61tocU" frameborder="0" allowfullscreen></iframe>
    
    %h2
      Deploy, Modify, Rollback and Restart Applications
    
    %p
      OpenShift Flex makes it easy to deploy your application, make modifications to code and components, version your changes and redeploy.

    .vid  
      <iframe width="425" height="349" src="//www.youtube.com/embed/KxX7wUg4zq8" frameborder="0" allowfullscreen></iframe>
        
    %h2
      Monitoring and Auto-Scaling Built-in
    
    %p
      Without the use of agents or scripts, OpenShift Flex gives you end-to-end monitoring straight-out-of-box with configurable auto-scaling that lets you decide when and how to scale your application.
    
    .vid  
      <iframe width="425" height="349" src="//www.youtube.com/embed/CbUQyc7OFlA" frameborder="0" allowfullscreen></iframe>

  %section#videos
    %header
      %h1
        Videos
        
    .product-video 
      %h2 
        OpenShift Flex Product Tour
      %p.video-author.author
        Issac Roth,  PaaS Master - Red Hat
      
      .video-thumb.thumb
        = link_to 'video/OpenShift-Flex-demo' do
          = image_tag "/app/images/video_stills/OpenShift-Flex-demo.png", 
            :title => "OpenShift Flex Product Tour", 
            :alt => "OpenShift Flex Product Tour"
    
      %p.video-description
        This video walks you through the high level functionality of OpenShift Flex, covering provisioning, deploying, monitoring and scaling applications in the cloud.
 
    .product-video 
      %h2
        What are people saying about OpenShift?
      %p.video-author.author
        Developers, ISVs, customers and partners
      
      .video-thumb.thumb
        = link_to "video/OpenShift-Ecosystem" do
          = image_tag "/app/images/video_stills/OpenShift-Ecosystem.png", 
            :title => "Developers, ISVs, customers and partners", 
            :alt => "Developers, ISVs, customers and partners"
        
      %p.video-description
        
        This video shows you what developers, ISVs, customers and partners are saying about Red Hat's exciting new OpenShift PaaS.
      
    .product-video
      %h3 Deploying a Mongo Driven Application on OpenShift Flex
      %p.video-author.author
        David Blado
        
      .video-thumb.thumb
        <iframe width="300" height="200" src="http://www.youtube.com/embed/tGOUo3_I8pQ" frameborder="0" allowfullscreen></iframe>
      
      %p.video-description
        This video walks a user through deploying an application on OpenShift Flex that uses MongoDB as its database backend. Complete with performance and log management demo!
      
        .video-meta.meta
          %p.video-length
            3 min, 3 seconds
          %p.video-date.date
            Posted June 21, 2011
      
    .product-video
      %h3 Deploying a Seam Application on OpenShift Flex
      %p.video-author.author
        David Blado
        
      .video-thumb.thumb
        <iframe width="300" height="200" src="http://www.youtube.com/embed/axH_XNGhr08" frameborder="0" allowfullscreen></iframe>
      
      %p.video-description
        This video walks a user through deploying a Seam application on OpenShift Flex. Complete with a performance and log management demo!
      
        .video-meta.meta
          %p.video-length
            2 min, 33 seconds
          %p.video-date.date
            Posted June 21, 2011
    
    = link_to 'Watch more videos',  "http://www.redhat.com/openshift/videos", :class => 'more'
    
  %section#docs
    %header
      %h1
        Documentation
    
    <iframe width="100%" height="600px" src="http://docs.redhat.com/docs/en-US/OpenShift_Flex/1.0/html/User_Guide/index.html" frameborder="0"></iframe>
    
    = link_to 'Read more documentation', 'http://www.redhat.com/openshift/documents', :class => 'more'
  
  -if logged_in?
    %section#quickstart
      %header
        %h1
          Quickstart
    
      %p
        Clicking on the link below will take you to the Flex application where you can start migrating your applications to the cloud.

      = link_to 'Go to Flex', flex_redirect_path, :class => 'more'
