- content_for :page_title, 'Get Started'
- content_for :header do
  .messaging.messaging-home
    .container
      .primary.headline
        Launch your
        %strong Big Idea
        in minutes
      .secondary
        OpenShift is a next generation application hosting environment. Read on to see how easy it is to get started in the cloud.

  - if previously_logged_in?
    = take_action console_path, 'Open the <strong>OpenShift</strong> Console'
  - else
    = take_action new_account_path, 'Sign up to try <strong>OpenShift</strong>'

%h1.ribbon Get Started with OpenShift

%section
  %h2 From the browser
  %p
    OpenShift offers a brand new (and rapidly improving) web console for creating and managing 
    your apps without ever going to the command line. The console will help you create your first
    application and then show you what you need to do to add additional capabilities like MongoDB, 
    MySQL, or Jenkins continuous integration builds.

  - if previously_logged_in?
    %p= link_to "Open the console now", console_path, :class => 'action-more'
  - else
    %p= link_to "Sign up and use the console now", new_account_path, :class => 'action-more'

%section
  %h2 From the command line
  %p
    If you'd like to use our powerful command line client, the steps below will get you installed 
    and running in minutes.

  %p
    The OpenShift client tools are packaged as a Ruby Gem.  To run OpenShift on your platform, you'll
    need Ruby 1.8.7 or newer, the ability to install a gem (on Linux this will require root access),
    and the Git version control tool.  More details are available about 
    #{link_to "installing the client tools", getting_started_guide_url} in the Developer Center.

%section#install_client_tools
  %h3 1. Install the client tools
  .row
    .span6
      %section#rhel.install
        .well.prereqs
          %h3 Fedora and Red Hat Enterprise Linux
          %ol
            %li
              %p.larger Install the OpenShift prerequisites via YUM
              %pre
                $ sudo yum install rubygems git
              %hr
              %p (RHEL 6.2 only) If you are using RHN Classic, you may need to add the RHEL 6.2 Optional Channel in order to install the 'rubygems' package.
              %pre
                $ sudo rhn-channel --add --channel=rhel-x86_64-server-optional-6
            %li
              %p.larger Install the gem:
              %pre $ sudo gem install rhc

      %section#other_nix.install
        .well.prereqs
          %h3 Other Linuxes
          %ol
            %li
              %p.larger Install the required packages: Ruby 1.8.7 or newer, rubygems, and git
            %li
              %p.larger Install the gem:
              %pre $ sudo gem install rhc
    .span6
      %section#win.install
        .well.prereqs
          %h3 Windows
          %h5 Prerequisites
          %ul
            %li
              %a(href="http://rubyinstaller.org/") RubyInstaller 1.9 for Windows
              %ul
                %li
                  Make sure to check the option "Add Ruby executables to your PATH"
            %li
              %a(href="http://msysgit.github.com/") Git for Windows
              %ul
                %li
                  Make sure to check the option "Run Git from the Windows Command Prompt"
            %p
              Please refer to the 
              =link_to 'Getting Started Guide', cli_on_windows_user_guide_topic_url
              for detailed steps about installing prerequisites.
          %hr
          %ol
            %li
              %p.larger From the Windows Command Prompt install the gem:
              %pre $ gem install rhc

      %section#mac.install
        .well.prereqs
          %h3 Mac
          %h5 Prerequisites
          %ul
            %li Root access
            %li
              = link_to 'Full Xcode Suite', 'http://developer.apple.com/xcode'
              &ndash; or &ndash;
              = link_to 'git for OS X', 'http://code.google.com/p/git-osx-installer/'
          %hr
          %ol
            %li
              %p.larger Install the gem:
              %pre
                :preserve
                  $ sudo gem install rhc

    .span12
      %p= link_to 'Read the Getting Started guide for more installation help', getting_started_guide_url, :class => 'action-more'
      %p.larger To update to the latest version of the client tools, use the gem update command:
      %pre $ sudo gem update rhc

%section#create_domain_name
  %h3 2. Setup your environment
  %p
    Using your OpenShift login and password, run <code>rhc setup</code> to connect to OpenShift and create a unique namespace for your applications.

  %pre
    :preserve
      $ rhc setup

      Starting Interactive Setup for OpenShift's command line interface

      We'll help get you setup with just a couple of questions.

      To connect to openshift.redhat.com enter your OpenShift login (email or Red Hat login id):

  %p 
    The wizard will help you upload your SSH keys so you can communicate with Git, check to see if you are missing any required configuration, and then 
    help you create a domain name.  On OpenShift, domain names make up part of your app's url. They are also unique across all OpenShift users so choose 
    wisely and be creative!

  %aside
    %p
      When the wizard runs it creates a configuration file in &lt;your home directory&gt;/.openshift/express.conf which includes your login id.  If you 
      ever need to set your machine up a second time, just run <code>rhc setup</code> again.

%section#create_application.topic
  %h3 3. Create your first application
  %p
    Now you can create an application.

  %pre
    :preserve
      $ rhc app create -a myapp -t php-5.3
      Password: (type... type... type...)

  %p
    This will create a remote git repository for your application, and clone it locally in your current directory.
  %aside
    %p
      OpenShift offers many application stacks. Run <code>rhc app create -h</code> to see all of your options.
  %aside
    %p
      Your application's domain name will be &lt;your app name&gt;-&lt;your domain name&gt;.rhcloud.com. So, the application created by the example commands would be located at myapp-mydomain.rhcloud.com
  %aside
    = link_to 'Creating an application video walkthrough', local_video_url('express_create_app'), :class => 'action-more', :target => '_blank'

%section#publish.topic
  %h3 4. Make a change, publish

  %p
    Getting an application running is only the first step. Now you are on the road to making it your own.  Here's an example for
    the php framework.

  %pre
    :preserve
      $ cd myapp
      $ vim php/index.php
      (Make a change...  :wq)
      $ git commit -a -m "My first change"
      $ git push

  %p
    Use whichever IDE or editor works best for you. Chances are, it'll have git support. Even if it doesn't, you're just two simple commands away from glory!

  %p
    Now, check your URL - your change will be live.

  %p= link_to 'Check out these great guides for deploying popular frameworks', developers_get_started_path, :class => 'action-more'

%section#next_steps.topic
  %h3 5. Next steps

  %p
    While this has gotten you started, there is a lot more information out there to really get you going.  Check out the following pages for videos, blogs, and tutorials:

    %ul
      %li= link_to 'Videos', videos_url
      %li= link_to 'Technical Documentation', user_guide_url
      %li= link_to 'Support Forums', forums_url
      %li= link_to 'Pricing', pricing_url

- if previously_logged_in?
  %section= take_action console_path, 'Ready to scale in the cloud?', 'Open the OpenShift Console'
- else
  %section= take_action new_account_path, 'Ready to scale in the cloud?', 'Sign up now'

