- content_for :body_class, 'home'
- content_for :nav_class, 'section-nav'
- content_for :header do
  .messaging.messaging-home
    .container
      %h1.primary.headline
        Develop and Scale 
        %strong#technology-rotate Apps
        in the Cloud
      %h2.secondary 
        OpenShift is Red Hat's free, auto-scaling Platform as a Service (PaaS) for 
        applications.  As an application platform in the cloud, OpenShift manages 
        the stack so you can focus on your code.

- content_for :javascripts do
  = javascript_include_tag "twitter.branding.js"
  = javascript_include_tag "home.branding.js"

- content_for :sub_layout do

  #learn.section-striped.lift-counter
    .container.container-inset
      .row
        = take_action new_account_path, 'Get started in the cloud', 'SIGN UP - IT\'S FREE', :class => 'span12'
  
        .span6
          %ul.learn.unstyled
            %li.scale
              = link_to product_overview_path(:anchor => 'scale'), :class => 'link-tile' do
                %img{:src => image_path('/app/images/scale.png')}
                %h4 Java, Ruby, Node.js, Python, PHP, or Perl
                %p Code in your favorite language, framework, and middleware.  Grow your applications easily with resource scaling.
            %li.time
              = link_to product_overview_path(:anchor => 'code'), :class => 'link-tile' do
                %img{:src => image_path('/app/images/time.png')}
                %h4 Super Fast!
                %p Code and deploy to the cloud in minutes.  Faster and easier than it has ever been.
            %li.locked
              = link_to product_overview_path(:anchor => 'open'), :class => 'link-tile' do
                %img{:src => image_path('/app/images/lock.png')}
                %h4 No Lock-In
                %p Built on open technologies so you can take it with you.
        .span6
          %ul.news.unstyled
            %li
              = link_to application_types_path, :class => 'link-tile' do
                %h4 Create real applications instantly
                %p Building apps just got easier &mdash; we've got one click deploys of Drupal, Wordpress, the JBoss Kitchensink quickstart, and Ruby on Rails for you to try.  More coming soon!
            %li
              = link_to opensource_community_url, :class => 'link-tile' do
                %h4 OpenShift is Open Source
                %p The components that power OpenShift are now available on GitHub and you can download our Fedora Remix image to try it out yourself.  The Open Source page has details on our process and how you can get involved.
            %li
              = link_to developers_url, :class => 'link-tile' do
                %h4 Find answers in the Developer Center
                %p Building applications involves lots of questions and we want you to find those answers fast.  The new Developer Center will centralize and organize all our reference material.

      .row
        .span6
          %p.gutter= link_to "Learn about OpenShift", product_overview_path, :class => 'action-more'
        .span6
          %p.gutter= link_to "Read the OpenShift blog", openshift_blog_url, :class => 'action-more'
  
  #buzz.section-base
    .container
      .row.row-buzz.lift
        .span12
          .column-buzz
            %h2 
              Check the 
              %strong Buzz
            %hr
            .row-fluid
              -#.span6 #disabled for now
                %blockquote
                  %p OpenShift has dramatically improved my cloud experience. Managing my application is so much easier, I haven't had any problems dealing with usage spikes, and its security and scalability really help my peace of mind.
                  %small Some person
                %blockquote 
                  %p OpenShift has dramatically improved my cloud experience. Managing my application is so much easier, I haven't had any problems dealing with usage spikes, and its security and scalability really help my peace of mind.
                  %small Some other person
              -# move to server side
              #buzz-twitter-2.span5
              .span1 &nbsp;
              #buzz-twitter.span6
  
            .row-fluid
              .span6
                = link_to community_url, :class => 'link-with-action' do
                  %strong Join
                  our community
              .span6
                .align-right
                  = link_to openshift_twitter_url, :class => 'link-with-action' do
                    %strong Follow
                    OpenShift
                .align-right
                  = link_to openshift_twitter_hashtag_url, :class => 'link-with-action' do
                    %strong More
                    = "#OpenShift buzz"
  
            -#.callout disabled for this sprint, will eventually pull latest events
              .one Look for team
              .two OpenShift
              .three at Mongo DB

