- content_for :page_title do
  Cloud Platform
  
- content_for :javascripts do
  = javascript_include_tag "/app/javascripts/twitter.js"
  = javascript_include_tag "/app/javascripts/products.js"
  
- auth_class = logged_in? ? 'authorized' : 'unauthorized'
- prev_login_class = (!logged_in? and previously_logged_in?) ? 'prev_login' : ''

-# Product overview view
%section#product_overview{ :class => "#{auth_class} #{prev_login_class} main"}
  .info
    %ul.content
      %li#express.product_box.express
        %h2
          = link_to 'Express', express_path
        
        .content
          %p.summary
            %strong
              Our shared cloud solution.
          %p
            Express is a free, cloud-based application platform for Java, Perl, PHP, Python, and Ruby applications. It's super-simple—your development environment is also your deployment environment: <code>git push</code>, and you're in the cloud!
          
          - if logged_in? and has_access? :express
            = link_to 'Open control panel ▸', control_panel_path, :class => 'more'
      
      %li#flex.product_box.flex
        %header
          %h2
            = link_to 'Flex', flex_path
        
        .content
          %p.summary
            %strong
              Our dedicated cloud solution.
          %p
            Get more control over your apps, or move your existing applications to the cloud with ease! Flex is a dedicated cloud solution that provides everything you need to easily scale, provision, deploy, and monitor your applications.
          
          - if logged_in? and has_access? :express
            = link_to 'Open control panel ▸', '/flex', :class => 'more'
            
      %li#power.product_box.power
        %header
          %h2
            = link_to 'Power', power_path
        
        .content
          %p.summary
            %strong
              Power is coming soon.
          %p
            Build your own clouds, on-site and off!
  
    
  #user_box
    .content
      - unless logged_in?
        - if previously_logged_in?
          %h2 Sign in to OpenShift
          = render 'login/signin_form'
        - else
          %h2 Don't have an OpenShift account?
          = link_to 'Create account', '/app/user/new/express', :class => 'button sign_up'
          = link_to '...or sign in', login_path, :class => 'sign_in'

      = image_tag '/app/images/panda-plugged-in.png'

  = render 'buzz_vids'
