- content_for :page_title, 'Open Source Disclaimer'

%h1.ribbon Open Source Disclaimer

%section.content
  %p.intro
    These are some of the projects that are used to create Red Hat's OpenShift Platform-as-a-Service (PaaS), but are not necessarily the versions of code currently used for OpenShift. Red Hat and OpenShift are trademarks of Red Hat, Inc., registered in the United States and other countries. Red Hat's offering of the code for your downloading, use, modification, or distribution is not a grant of a trademark license to OpenShift or any other Red Hat trademark.

  %ul
    %li
      = link_to "ImageMagick-perl", "http://www.imagemagick.org/"
      (ImageMagick)
    %li
      = link_to "MySQL-python", "http://sourceforge.net/projects/mysql-python/"
      (GPLv2+)
    %li
      = link_to "PyGreSQL", "http://www.pygresql.org/"
      (PostgreSQL or Python)
    %li
      = link_to "bind", "http://www.isc.org/products/BIND/"
      (ISC)
    %li
      = link_to "cronie", "https://fedorahosted.org/cronie"
      (MIT and BSD and ISC and GPLv2)
    %li
      = link_to "crontabs", "https://fedorahosted.org/crontabs"
      (Public Domain and GPLv2)
    %li
      = link_to "gcc-c++", "http://gcc.gnu.org"
      (GPLv3+ and GPLv3+ with exceptions and GPLv2+ with exceptions and LGPLv2+ and BSD)
    %li
      = link_to "git", "http://git-scm.com/"
      (GPLv2)
    %li
      = link_to "haproxy", "http://haproxy.1wt.eu/"
      (GPLv2+)
    %li
      = link_to "httpd", "http://httpd.apache.org/"
      (ASL 2.0)
    %li
      = link_to "java-1.6.0-openjdk", "http://openjdk.java.net/"
      (ASL 1.1 and ASL 2.0 and GPL+ and GPLv2 and GPLv2 with exceptions and LGPL+ and LGPLv2 and MPLv1.0 and MPLv1.1 and Public Domain and W3C)
    %li
      = link_to "jboss-as7", "http://www.jboss.org/jbossas"
      (LGPLv2+)
    %li
      = link_to "jboss-as7-modules", "http://www.jboss.org/jbossas"
      (LGPLv2+)
    %li
      = link_to "jenkins", "http://jenkins-ci.org/"
      (MIT)
    %li
      = link_to "js", "http://www.mozilla.org/js/"
      (GPLv2+)
    %li
      = link_to "libcurl", "http://curl.haxx.se/"
      (MIT)
    %li
      = link_to "libjpeg-turbo", "http://sourceforge.net/projects/libjpeg-turbo"
      (wxWidgets)
    %li
      = link_to "libmemcached", "http://libmemcached.org/"
      (BSD)
    %li
      = link_to "libmongodb", "http://www.mongodb.org"
      (AGPLv3 and zlib and ASL 2.0)
    %li
      = link_to "libxml2", "http://xmlsoft.org/"
      (MIT)
    %li
      = link_to "libxslt", "http://xmlsoft.org/XSLT/"
      (MIT)
    %li
      = link_to "maven", "http://maven.apache.org/"
      (ASL 2.0 and MIT and BSD)
    %li
      = link_to "memcached", "http://www.memcached.org/"
      (BSD)
    %li
      = link_to "mod_bw", "http://www.ivn.cl/apache"
      (ASL 2.0)
    %li
      = link_to "mod_passenger", "http://www.modrails.com/"
      (MIT)
    %li
      = link_to "mod_perl", "http://perl.apache.org/"
      (ASL 2.0)
    %li
      = link_to "mod_wsgi", "http://modwsgi.org"
      (ASL 2.0)
    %li
      = link_to "mongodb", "http://www.mongodb.org"
      (AGPLv3 and zlib and ASL 2.0)
    %li
      = link_to "mysql", "http://www.mysql.com"
      (GPLv2 with exceptions)
    %li
      = link_to "nodejs", "http://nodejs.org"
      (MIT)
    %li
      = link_to "nodejs-async", "http://github.com/caolan/async"
      (MIT)
    %li
      = link_to "nodejs-connect", "http://github.com/senchalabs/connect"
      (MIT)
    %li
      = link_to "nodejs-express", "http://github.com/visionmedia/express"
      (MIT)
    %li
      = link_to "nodejs-mongodb", "http://github.com/christkv/node-mongodb-native"
      (ASL 2.0)
    %li
      = link_to "nodejs-mysql", "http://github.com/felixge/node-mysql"
      (MIT)
    %li
      = link_to "nodejs-node-static", "http://github.com/cloudhead/node-static"
      (MIT)
    %li
      = link_to "nodejs-pg", "http://github.com/brianc/node-postgres"
      (MIT)
    %li
      = link_to "perl-App-cpanminus", "http://search.cpan.org/dist/App-cpanminus/"
      (GPL+ or Artistic)
    %li
      = link_to "perl-CPAN", "http://www.perl.org/"
      (GPL+ or Artistic)
    %li
      = link_to "perl-CPANPLUS", "http://www.perl.org/"
      (GPL+ or Artistic)
    %li
      = link_to "perl-Cache-Memcached", "http://search.cpan.org/dist/Cache-Memcached/"
      (GPL+ or Artistic)
    %li
      = link_to "perl-Class-DBI-Pg", "http://search.cpan.org/dist/Class-DBI-Pg/"
      (GPL+ or Artistic)
    %li
      = link_to "perl-DBD-MySQL", "http://search.cpan.org/dist/DBD-mysql/"
      (GPL+ or Artistic)
    %li
      = link_to "perl-DBD-Pg", "http://search.cpan.org/dist/DBD-Pg/"
      (GPLv2+ or Artistic)
    %li
      = link_to "perl-DBD-SQLite", "http://search.cpan.org/dist/DBD-SQLite/"
      (GPL+ or Artistic)
    %li
      = link_to "perl-DateTime-Format-Pg", "http://search.cpan.org/dist/DateTime-Format-Pg/"
      (GPL+ or Artistic)
    %li
      = link_to "perl-MongoDB", "http://search.cpan.org/dist/MongoDB/"
      (ASL 2.0)
    %li
      = link_to "php", "http://www.php.net/"
      (PHP)
    %li
      = link_to "php-pear", "http://pear.php.net/package/PEAR"
      (BSD and PHP and LGPLv2+)
    %li
      = link_to "php-pear-MDB2-Driver-pgsql", "http://pear.php.net/package/MDB2_Driver_pgsql"
      (BSD)
    %li
      = link_to "php-pecl-memcache", "http://pecl.php.net/package/memcache"
      (PHP)
    %li
      = link_to "php-pecl-memcached", "http://pecl.php.net/package/memcached"
      (PHP and MIT)
    %li
      = link_to "php-pecl-mongo", "http://pecl.php.net/package/mongo"
      (ASL 2.0)
    %li
      = link_to "phpMyAdmin", "http://www.phpmyadmin.net/"
      (GPLv2+)
    %li
      = link_to "postgis", "http://postgis.refractions.net/"
      (GPLv2+)
    %li
      = link_to "postgresql", "http://www.postgresql.org/"
      (PostgreSQL)
    %li
      = link_to "postgresql-ip4r", "http://pgfoundry.org/projects/ip4r"
      (BSD)
    %li
      = link_to "postgresql-jdbc", "http://jdbc.postgresql.org/"
      (BSD and ASL 2.0)
    %li
      = link_to "pymongo", "http://api.mongodb.org/python"
      (ASL 2.0 and MIT)
    %li
      = link_to "python", "http://www.python.org/"
      (Python)
    %li
      = link_to "python-memcached", "http://www.tummy.com/Community/software/python-memcached/"
      (Python)
    %li
      = link_to "python-psycopg2", "http://www.initd.org/psycopg/"
      (LGPLv3+ with exceptions)
    %li
      = link_to "python-virtualenv", "http://pypi.python.org/pypi/virtualenv"
      (MIT)
    %li
      = link_to "rhdb-utils", "http://pgfoundry.org/projects/pgfiledump/"
      (GPLv2+ and PostgreSQL)
    %li
      = link_to "rpm-build", "http://www.rpm.org/"
      (GPLv2+)
    %li
      = link_to "ruby", "http://ruby-lang.org/"
      (Ruby or BSD)
    %li
      = link_to "ruby-RMagick", "http://rmagick.rubyforge.org/"
      (MIT)
    %li
      = link_to "ruby-mysql", "http://www.tmtm.org/en/mysql/ruby/"
      (Ruby)
    %li
      = link_to "ruby-nokogiri", "http://nokogiri.rubyforge.org/nokogiri/"
      (MIT)
    %li
      = link_to "ruby-postgres", "http://bitbucket.org/ged/ruby-pg/"
      (Ruby)
    %li
      = link_to "rubygem-activemodel", "http://www.rubyonrails.org"
      (MIT)
    %li
      = link_to "rubygem-dnsruby", "http://rubyforge.org/projects/dnsruby/"
      (ASL 2.0)
    %li
      = link_to "rubygem-highline", "http://highline.rubyforge.org"
      (GPLv2+ or Ruby)
    %li
      = link_to "rubygem-json_pure", "http://mocha.rubyforge.org"
      (GPLv2 or Ruby)
    %li
      = link_to "rubygem-mocha", "http://mocha.rubyforge.org"
      (MIT and Ruby)
    %li
      = link_to "rubygem-mongo", "http://www.mongodb.org"
      (ASL 2.0)
    %li
      = link_to "rubygem-open4", "http://github.com/ahoward/open4/tree/master"
      (BSD or Ruby)
    %li
      = link_to "rubygem-parseconfig", "http://www.5dollarwhitebox.org"
      (MIT)
    %li
      = link_to "rubygem-state_machine", "http://www.pluginaweek.org"
      (MIT)
    %li
      = link_to "rubygem-builder", "http://onestepback.org"
      (MIT)
    %li
      = link_to "rubygem-bundler", "http://gembundler.com"
      (MIT)
    %li
      = link_to "rubygem-daemons", "http://daemons.rubyforge.org"
      (MIT and (GPLv2+ or Ruby))
    %li
      = link_to "rubygem-json", "http://json.rubyforge.org"
      (Ruby or GPLv2)
    %li
      = link_to "rubygem-json_pure", "http://flori.github.com/json"
      (GPLv2 or Ruby)
    %li
      = link_to "rubygem-parseconfig", "http://www.5dollarwhitebox.org"
      (MIT)
    %li
      = link_to "rubygem-rack", "http://rubyforge.org/projects/rack/"
      (MIT)
    %li
      = link_to "rubygem-sqlite3", "http://sqlite-ruby.rubyforge.org/"
      (BSD)
    %li
      = link_to "rubygem-thread-dump", "#needs_to_be_filled_in"
    %li
      = link_to "rubygems", "http://ruby-lang.org/"
      (Ruby or MIT)
    %li
      = link_to "selinux-policy-targeted", "http://oss.tresys.com/repos/refpolicy/"
      (GPLv2+)
    %li
      = link_to "uuid-pgsql", "http://www.ossp.org/pkg/lib/uuid/"
      (MIT)
    %li
      = link_to "wget", "http://www.gnu.org/software/wget/"
      (GPLv3+)
