%section.row
  .span8
    = form.inputs 'Billing Information', :class => 'inputs form-horizontal plan_upgrade billing', :for => billing_info, :autocomplete => "billing" do |b|
      = b.semantic_errors
      = b.inputs :inline => true, :name => 'Name' do
        = b.input :first_name, :input_html => { :class => 'input-small', :placeholder => "First"}, :autocomplete => 'given-name'
        = b.input :middle_initial, :input_html => { :class => 'input-mini', :placeholder => "MI" }
        = b.input :last_name, :input_html => { :class => 'input-medium', :placeholder => "Last"}, :autocomplete => 'family-name'
      = b.input :address1, :required => false, :label => "Street Address", :input_html => {:class => 'address-line'}, :autocomplete => 'address-line1'
      = b.input :address2, :label => false, :input_html => {:class => 'address-line'}, :autocomplete => 'address-line2'
      = b.input :address3, :label => false, :input_html => {:class => 'address-line'}, :autocomplete => 'address-line3'
      = b.inputs :inline => true, :name => 'City, State, ZIP'do
        = b.input :city, :input_html => { :class => 'input-medium', :placeholder => 'City'}, :autocomplete => 'localilty'
        = b.input :region, :as => :select, :collection => regions_for_select(32), :include_blank => true, :input_html => { :class => 'input-medium'}, :autocomplete => 'region'
        = b.input :zip, :input_html => { :class => 'input-mini', :placeholder => "ZIP"}, :autocomplete => 'postal-code'
      = b.inputs :inline => true, :name => 'Country' do
        = b.input :country, :as => :select, :collection => countries_for_select, :include_blank => false, :autocomplete => 'country'
  %aside.span4
    %h5 Your contact information is safe
    %p
      Read our
      = link_to 'Privacy Policy', community_security_policy_url

    %h5 Don't see your country in the list?
    %p
      At this time paid OpenShift access is only available to customers in certain countries.
      We plan on expanding availability in the future.
      Please contact us at #{link_to_account_mailto} if you are interested in subscribing from another country.

    - if @aria_user and @aria_user.has_account? and @aria_user.has_valid_payment_method?
      %h5 Already Have A Payment Method Registered?
      %p
        Please make sure this address matches the address on file with your credit card company.
        If the address does not match, there may be problems submitting your next invoice.

    %h5 Tax exempt?
    %p
      To qualify for tax exempt status you must submit a certificate to Red Hat.
      Upon reciept of your certificate we will refund all previously paid taxes to your credit card.
      #{link_to "Learn more about filing for tax exempt status", tax_exempt_help_status, :target => '_blank', :class => 'external'}.

- content_for :stylesheets do
  = stylesheet_link_tag 'plan_upgrade', :media => :all

- content_for :javascripts do
  - if dynamic_country_form
    = javascript_include_tag 'site/address'
    :javascript
      $(document).ready(function() {
        $('form.plan_upgrade.billing').addressForm();
      })
