- content_for :title, 'Update your Billing Info'

= semantic_form_for @billing_info, :url => url_for(:action => :edit) do |f|
  = f.semantic_errors

  = f.input :first_name
  = f.input :middle_initial
  = f.input :last_name
  = f.input :address1
  = f.input :address2
  = f.input :address3
  = f.input :city
  = f.inputs :state, :country, :zip

  = f.buttons do
    = link_to "Cancel", @previous_path, :class => 'btn'
    = f.commit_button
    = f.loading
