%header
  %h1
    = app.name
%dl.app_info
  %dt
    Public url
  %dd.app_url
    = link_to app.web_url, app.web_url

  %dt
    Repository
  %dd.app_git
    = app.git_url

  %dt
    Type
  %dd.app_type
    = app.framework.split('-')[0]
%div
  = link_to("delete...", application_delete_path(:application_id => app.name))
