:css
  .subtitle  { margin-top: 0.8em; margin-left: 0.5em;}

.hero-unit
  .row-fluid
    .span12
      .row-fluid
        .span6
          CARTRIDGE NAME
        .span6
          CARTRIDGE TYPE
      .row-fluid
        .span6
          %h3
            = application.name
        .span6
          %h3
            = application.framework_name
      .row-fluid
        .span12
          .app_url
            = link_to application.web_url, application.web_url
      .row-fluid
        .span12
          %pre.command-line.git_url
            = application.git_url
      .row-fluid
        .span12
          Created
          = "#{time_ago_in_words(application.creation_time)} ago"
