-# file: Applications confirm delete

%section.main
  %header
    %h2
      = "Are you sure you want to delete the #{@application.domain_id}-#{@application.name} application?"
  %p
    This will delete all the code and data associated with the app, and cannot be undone, so make sure this is something you really want to do!

  - semantic_form_for @application, :url => application_delete_path(:application_id => @application.name), :html => { :method => :delete } do |form|
    = form.input :cartridge, :as => :hidden, :value => @application.framework
    = form.submit :value => "Cancel", :class => 'cancel_button'
    = form.submit :value => "Delete", :class => 'delete_button'
