%header
  %h1
    = app_name
%dl.app_info
  %dt
    Public url
  %dd.app_url
    = app_link_to @userinfo, app_name

  %dt
    Repository
  %dd.app_git
    = git_url_for @userinfo, app_name

  %dt
    Type
  %dd.app_type
    = app['framework'].split('-')[0]
  
.popup
  .popup-trigger
    = link_to 'Delete...', '#'
  .popup-content
    = render 'express_app/app_deletion_form', :namespace => app_name, :app_name => app_name, :app => app

