#top.section-top
  - if content_for? :top_banner
    = yield :top_banner
  .container
    = link_to "Status", status_path, :title => 'Track open issues on the OpenShift Online status page', :class => 'btn btn-small btn-warning', :style => 'display:none;', :id => 'outage'
    .pull-right.login
      %form#search-top{:action => community_search_url, :method => "get"}
        %label.invisible{:for => 'keys'} Search
        %input.search-query{:id => 'keys', :name => "keys", :placeholder => "SEARCH", :type => "text"}
          %button.search{:type => "submit", :value => "Search"}
    
      -#if session[:login]
        = link_to session[:login], "console", :class => 'btn btn-small'
        = link_to 'Sign out', logout_path, :class => 'btn btn-small sign_out'
      -# The signin link is always present so we can cache the page
      - if user_signed_in?
        = link_to "My Apps", console_path, :class => 'btn btn-small'
        = link_to "My Account", account_path, :class => 'btn btn-small'
        = link_to "Sign Out", logout_path, :class => 'btn btn-small sign_out'
      - else
        = link_to "Sign In", console_path, :class => 'btn btn-small sign_in'

    %div
      .text
        = link_to "Blog", openshift_blog_url
        - [ ["Follow us on Twitter", openshift_twitter_url,     "&#xee04;"],
            ["Like us on Facebook",  openshift_facebook_url,    "&#xee05;"],
            ["Visit us on Google+",  openshift_google_plus_url, "&#xee06;"] ].each do |link|
          = link_to link[1], {:class => "icon-social"} do
            %span{:title => link[0], :"data-icon" => link[2].html_safe, :"aria-hidden" => "true"}

%nav#nav{:class => ((content_for? :nav_class) ? content_for(:nav_class) : 'section-nav lift-counter')}
  .navbar
    .container
      -# Was .nav-collapse, has some issues
      .brand
        = link_to root_path do
          .brand-image
          .brand-text
            %strong> Open
            Shift
      %ul.nav.nav-primary
        - cur_url = url_for(:action => controller.action_name, :controller => controller.controller_name)
        -[  ["Products",     product_overview_path],
            ["Get Involved", get_involved_url],
            ["Dev Center",   developers_path],
            ["Support",      support_path],
            ["Partners",     partners_url] ].each do |link|
          %li{:class => cur_url == link[1] ? :active : ''}
            = link_to link[1] do
              %span= link[0]

  - if content_for? :header
    = yield :header
