#top.section-top
  .container
    .pull-left
      = link_to "Sign up for the newsletter", newsletter_signup_url
    .pull-right.login
      -#if session[:login]
        = link_to session[:login], "console", :class => 'btn btn-small'
        = link_to 'Sign out', logout_path, :class => 'btn btn-small'
      -# The signin link is always present so we can cache the page
      = link_to "Sign In to Manage Your Apps", console_path, :class => 'btn btn-small'

      -# ['f', 'g', 't'].each do |p|
        = link_to p, :class => 'btn btn-small login-provider' do
          %img{:alt => p}

%nav#nav{:class => 'section-nav' << content_for(:nav_class)}
  .navbar
    .container
      -# Was .nav-collapse, has some issues
      .brand
        = link_to root_path do
          .brand-image
          .brand-text
            %strong> Open
            Shift
      %ul.nav
        - cur_url = url_for(:action => controller.action_name, :controller => controller.controller_name)
        -[  ["Learn More", product_overview_path],
            ["Express", express_path],
            "&nbsp;",
            ["Flex", flex_path],
            ["Community", community_url] ].each do |link|
          - if link.class.name == "String"
            %li.divider!= link.to_s
          -else
            %li{:class => cur_url == link[1] ? :active : ''}
              = link_to link[1] do
                %span= link[0]

  - if content_for? :header
    = yield :header
