#top.section-top
  .container
    .pull-left
      = link_to "Sign up for the newsletter", newsletter_signup_url
    .pull-right.login
      -#if session[:login]
        = link_to session[:login], "console", :class => 'btn btn-small'
        = link_to 'Sign out', logout_path, :class => 'btn btn-small'
      -# The signin link is always present so we can cache the page
      = link_to "Sign In to Manage Your Apps", "/app/login", :class => 'btn btn-small'

      -# ['f', 'g', 't'].each do |p|
        = link_to p, :class => 'btn btn-small login-provider' do
          %img{:alt => p}

%nav#nav{:class => 'section-nav' << content_for(:nav_class)}
  .navbar
    .container
      -# Was .nav-collapse, has some issues
      .brand
        = link_to root_path do
          .brand-image
          .brand-text
            %strong> Open
            Shift
      %ul.nav
        %li.active= link_to "Learn More", "/app/new/overview"
        %li= link_to "Express", "/app/express"
        %li.divider &nbsp;
        %li= link_to "Flex", "/app/flex"
        %li= link_to "Community", "/app/styleguide/community"

  - if content_for? :header
    = yield :header
