-# file: Require users to agree to any terms they haven't seen yet

= render 'shared/pageheader', :product => 'openshift', :title => 'Terms Acceptance', :subtitle => 'Open Shift Site Usage Terms'

#page.container_24

  #terms.grid_13.push_6
    - @term.errors.each do |key, value|
      - if key == :base
        #errors
          %p.inline-errors #{value}
          %br

    %h3 Please Accept the Following Terms

    %p Before accessing our online properties, you need to accept the site terms and conditions.  Click on the link below for a description of these terms:
    %p.terms-link
      = link_to 'Red Hat & OpenShift Terms of Use', acceptance_terms_path, :class => 'more', :target => "_blank"

    = semantic_form_for @term do |form|
      = form.inputs do
        %div
          %p
            Clicking <strong>I accept</strong> means that you agree to the site usage terms.
      = form.buttons do
        = form.commit_button "I Accept", :input_html => { :class => 'button' }
    .clear

  .clear
