= render 'layouts/flashes'

= semantic_form_for @domain, :remote => true do |form|
  = form.input :namespace, :label => 'Namespace', :input_html => {:autocomplete => false}, :value => @userinfo.namespace.nil? ? '' : @userinfo.namespace
  = form.input :ssh, :as => :hidden
  = form.input :dom_action, :as => :hidden, :value => @userinfo.namespace.nil? ? 'create' : 'update'
  = form.input :form_type, :as => :hidden, :value => 'domain'
  = form.buttons do
    = form.commit_button :button_html => {:class => 'button', :value => 'Save'}
