-# file: Require users to agree to any terms they haven't seen yet

- content_for :page_title, 'Legal terms'

%h1.ribbon Legal terms

%section.content
  - @term.errors.each do |key, value|
    - if key == :base
      #errors
        %p.inline-errors #{value}

  %h2
    Please Accept the Following Terms

  %p
    In order to access and use the OpenShift Online Services and Software you will need to accept the terms and conditions of the OpenShift Online Services Agreement. Since OpenShift Online is just one of several online properties of Red Hat, you will also need to agree to certain site terms that will apply to your use of other Red Hat sites.  As a result, by clicking "I Accept" you agree to comply with the following terms:
  #terms
    %ul
      - @terms_display_list.each do |term|
        %li
          %a{:title => term[:title], :href => term[:href], :target => '_blank'} #{term[:title]}
          - unless term[:description].blank?
            %p.description
              = term[:description]
  %p
    Clicking <strong>I Accept</strong> means that you agree to the above terms.

    = flashes

    = semantic_form_for @term, :simple => true do |form|
      = form.buttons do
        = form.commit_button "I Accept", :button_html => { :class => 'btn btn-primary' }
