-# file: Require users to agree to any terms they haven't seen yet

- content_for :page_title, 'Legal terms'

%h1.ribbon Legal terms

%section.content
  - @term.errors.each do |key, value|
    - if key == :base
      #errors
        %p.inline-errors #{value}

  %h2 
    Please Accept the Following Terms

  %p 
    Before participating in the OpenShift Preview Program and receiving the Preview Services, Preview Software and access to online properties, you need to accept certain terms and conditions. The link below contains a list of the terms that will apply to your use.
  
  = link_to 'OpenShift Legal Terms and Conditions', acceptance_terms_path, :class => 'more', :target => "_blank"
  
  %p
    Clicking <strong>I accept</strong> means that you agree to the above terms.
  
  = flashes

  = semantic_form_for @term, :simple => true do |form|
    = form.buttons do
      = form.commit_button "I Accept", :button_html => { :class => 'btn btn-primary' }
