-# file: Require users to agree to any terms they haven't seen yet

- content_for :page_title, 'Legal terms'

%h1.ribbon Legal terms

%section.content
  - @term.errors.each do |key, value|
    - if key == :base
      #errors
        %p.inline-errors #{value}

  %h2
    Please Accept the Following Terms

  %p
    In order to access and use the OpenShift Services and Software you will need to accept the terms and conditions of the OpenShift Services Agreement. Since OpenShift is just one of several online properties of Red Hat, you will also need to agree to certain site terms that will apply to your use of other Red Hat sites.  As a result, by clicking "I Accept" you agree to comply with the following terms:
  #terms
    %ul
      -# TODO: a lot of this logic should be in the controller, not the view...
      - accepted_terms_list = Array.new(@user.terms.length)
      - if @user.terms.length > 0
        -# Show the OpenShift Online terms first
        - @user.terms.each_with_index do |value, i|
          - if value['termTitle'].start_with?('O')
            - accepted_terms_list[i] = value['termId']
            %li
              %a{:title => value['termTitle'], :href => value['termUrl'], :target => '_blank'} #{value['termTitle']}
              
              %p.description
                = @term_description[value['termTitle']]

        -# Now show the remaining terms
        - @user.terms.each_with_index do |value, i|
          - unless value['termTitle'].start_with?('O')
            - accepted_terms_list[i] = value['termId']
            %li
              %a{:title => value['termTitle'], :href => value['termUrl'], :target => '_blank'} #{value['termTitle']}
              
              - unless @term_description[value['termTitle']].nil?
                %p.description
                  = @term_description[value['termTitle']]

  %p
    Clicking <strong>I Accept</strong> means that you agree to the above terms.

    = flashes

    = semantic_form_for @term, :simple => true do |form|
      = form.buttons do
        = form.commit_button "I Accept", :button_html => { :class => 'btn btn-primary' }
