-# file: Express request access page

- content_for :page_title do
  Get Access to OpenShift Express!

- content_for :javascripts do
  = javascript_include_tag "/app/javascripts/jquery.validate.min.js"
  = javascript_include_tag "/app/javascripts/form"

%section.main
  %header
    %h1
      Request Access to Express

  .content
    - @access.errors.each do |key, value|
      - if key == :base
        .message.error
          #{value}

    = semantic_form_for @access do |form|
      - unless @user.terms.empty?
        %p#explanation
          Red Hat will grant access to the OpenShift Service subject to the terms and conditions listed in the following documents:

        %ul.terms
          - @user.terms.each_with_index do |value, i|
            %li.terms-link
              %a{:title => value['termTitle'], :href => value['termUrl'], :target => '_blank'} #{value['termTitle']}

        %p#explanation
          Clicking <strong>Request Access</strong> means that you agree to the above terms.
      - else
        %p <strong>Note:</strong> You have previously accepted all applicable terms.
      = form.buttons do
        = form.commit_button "Request Access", :input_html => { :class => 'button' }
