= content_for :sub_layout do
  .section-striped#content
    .container
      .row-content
        .row.row-flush-right#console-panel
          .column-content.grid-wrapper
            - if content_for? :breadcrumbs
              .ribbon
                .ribbon-content.row
                  %nav
                    = yield :breadcrumbs
                .span12
                  = flashes
            = yield

= render :template => 'layouts/console.html'
