- content_for :page_title, 'Password Reset'

%h1.ribbon Reset your password

= semantic_form_for @user, :url => account_password_path, :html => {:class => 'form-horizontal'} do |f|
  %p If you have forgotten your password please enter your email address or Red Hat login here, and we will send you an email with a link that will create a new, random password for your account.
  = f.semantic_errors
  = f.input :login, :input_html => {:autofocus => true}
  = f.buttons do
    = f.commit_button "Reset Password", :button_html =>  {:class => 'btn'}
    or 
    = link_to 'sign in', login_path
