:ruby
  price = plan.feature('Price', user_currency_cd).value

.plan{:id => plan.name.downcase}
  %h4
    = plan.name
    -#%span.pull-right= price
    %span{:style => "font-size: 14px; margin-left: 15px;"}= price
  %p
    %em= plan.description
  - if plan.respond_to?(:summary)
    %p= plan.summary
  %ul
    - plan.features(user_currency_cd).each do |feature|
      - next if feature.name == "Price"
      %li= "#{feature.name}: #{feature.value}"
  - if select_button != ''
    %p
      = link_to "Plan details", pricing_url(:anchor => plan.name.downcase)
    = link_to select_button, account_plan_upgrade_path(plan), :class => defined?(primary_button) ? "btn btn-primary" : "btn"
