%h3.plan-title
  #{plan.name}
.row-fluid
  .span12
    .plan-info
      %p= plan.description
      %ul
        - if plan.gear_sizes.length > 1
          %li Available gear sizes: #{h plan.gear_sizes.join ", "}
        %li
          Up to
          %b= plan.max_gears
          gears
    - if !display_only
      .plan-btn
        - if current_plan == nil or plan.id != current_plan.id
          = link_to "Select", account_plan_upgrade_path(plan), :class => 'btn'
        - else
          %span.current-plan Your current plan
