- display_only = false if local_assigns[:display_only].nil?
- current_plan = { :id => '' } if local_assigns[:current_plan].nil?
.tile
  .row-fluid
    .span7
      %h3
        #{plan.name}
        - if !display_only && plan.id == current_plan.id
          %span.tile-current-plan current plan
      %p= plan.description
      %ul
        - if plan.gear_sizes.length > 1
          %li Available gear sizes: #{h plan.gear_sizes.join ", "}
        %li
          Up to
          %b= plan.max_gears
          gears
    .span5
      %p
        %b Best for<br />
        %span.tile-copy-text Praesent et varius lectus. Sed consectetur ante eu mi sagittis a ultrices lacus ultrices.
      - if !display_only && plan.id != current_plan.id
        = link_to "Select", account_plan_upgrade_path(plan), :class => 'btn'