.header-container
  .title
    = link_to root_path do
      Open
      %strong> Shift
      %span.trademark> &trade;
    Management Console

  %ul.nav.pull-right
    %li
      = link_to "Community", community_url
    %li
      = link_to "My Account", account_path
    %li
      = link_to "Sign Out", logout_path

  = navigation_tabs do
    = navigation_tab :control_panel, :action => :index
    -#= navigation_tab :control_panel, :new
    -#= navigation_tab :help, :show
    = navigation_tab :user, :action => :show
