%nav
  %header
    %h1
      Secondary Navigation

  .content
    %ul
      %li
        %header
          %h2
            News
          
        %ul
          %li
            = link_to 'Announcements', 'https://www.redhat.com/openshift/forums/news-and-announcements'
          %li
            = link_to 'Blog', 'https://www.redhat.com/openshift/blogs'
              
          %li
            = link_to 'Twitter', 'http://www.twitter.com/#!/openshift'
        
      %li
        %header
          %h2
            Community
        
        %ul
          %li
            = link_to 'Forum', 'https://www.redhat.com/openshift/forums/'
          %li
            = link_to 'Partner Program', partners_path
          %li
            = link_to 'IRC Channel', 'http://webchat.freenode.net/?randomnick=1&channels=openshift&uio=d4'
          %li
            = link_to 'Feedback', 'mailto:openshift@redhat.com'
        
      %li
        %header
          %h2
            Legalese
        
        %ul
          %li
            = link_to 'Legal', legal_path
          %li
            = link_to 'Privacy Policy', legal_openshift_privacy_path
          %li
            = link_to 'Security', 'https://access.redhat.com/security/team/contact/'
        
      %li
        %header
          %h2
            Help
          
        %ul
          %li
            = link_to 'FAQ', 'http://www.redhat.com/openshift/faq'
          %li
            = link_to 'Contact', 'mailto:openshift@redhat.com'

%section#copyright
  %header
    %h1
      Copyright

  .content
    %p
      Copyright &copy; 2011 Red Hat, Inc.
    
    %img.redhat{ :src => "/app/images/redhat.png" }
