%hgroup.title
  %h1
    OpenShift
  %h2
    PaaS by Red Hat Cloud

.content
  = link_to root_path do
    = image_tag '/app/images/openshift-logo-white.png', 
               :alt => 'OpenShift Logo',
               :border => '0'
    
  %aside#announcements
    %header
      %h1 OpenShift Announcements
        
    %ul
      %li
        = link_to "http://makara.nurturehq.com/makara/newsletter_signup.html", :class => 'announcement' do
          .title
            Sign up for the OpenShift Newsletter
          .further
            Tricks and Tips, Latest apps, Events and more
      
      %li
        = link_to 'https://twitter.com/#!/openshift', :class => 'announcement' do
          .title
            Follow us on Twitter!
          .further
            @openshift
      
      %li
        = link_to 'mailto:openshift@redhat.com', :class => 'announcement' do
          .title
            Got a cool app? Tell us about it!
          .further
            Drop us a line at openshift@redhat.com <br/> and claim your swag.

%nav
  %header
    %h1
      Main Navigation
  .content
    %ul
      %li.link
        = link_to 'Home', root_path, :class => 'home'
      %li.link
        = link_to 'Cloud Services', express_path, :class => 'services'
      %li.link
        = link_to 'Community', 'https://www.redhat.com/openshift', :class => 'community'
     
      -if session[:login]
        %li.user
          = link_to 'Sign out', logout_path, :class => 'sign_out'
        %li.user
          = link_to "Greetings, #{session[:login]}!", dashboard_path, :class => 'greeting'
          
        
       
      -else
        %li.user
          = link_to 'Sign In', login_path, :class => 'sign_in'
      
= yield :extra_nav if content_for? :extra_nav
