%ul
  %li.link
    = link_to 'Learn More', product_overview_path, :class => 'overview'
  %li.link
    = link_to 'Getting Started', getting_started_path
  %li.link
    = link_to 'Console', console_path
  %li.link
    = link_to 'Community', community_url, :class => 'community'
  -if session[:login]
    %li.user
      = link_to 'Sign out', logout_path, :class => 'sign_out'
    %li.user.greeting
      = link_to control_panel_path, :class => 'greeting' do
        Greetings, #{session[:login]}!
  -else
    %li.user
      = link_to 'Sign in', login_path, :class => 'sign_in'
