%ul
  %li.link
    = link_to 'Overview', product_overview_path, :class => 'overview'
  %li.link
    = link_to 'Shared', express_path, :class => 'express'
  %li.link
    = link_to 'Dedicated', flex_path, :class => 'flex'
  %li.link
    = link_to 'Community', 'https://www.redhat.com/openshift', :class => 'community'

  -if session[:login]
    %li.user
      = link_to 'Sign out', logout_path, :class => 'sign_out'
    %li.user
      = link_to "Greetings, #{session[:login]}!", control_panel_path, :class => 'greeting'
  -else
    %li.user
      = link_to 'Sign in', login_path, :class => 'sign_in'
