-# file: Universal site layout with header/footer/main nav
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head

    -# Allow views to modify title if desired
    %title
      OpenShift by Red Hat
      - if content_for?(:page_title)
        |
        = yield :page_title

    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link(rel="shortcut icon" href="/app/images/favicon.ico")

    = stylesheet_link_tag "/app/stylesheets/1_reset", "/app/stylesheets/2_960_24_col", "/app/stylesheets/3_text", "/app/stylesheets/cloud.rh.css"

    /[if IE]
      = stylesheet_link_tag "/app/stylesheets/ie.css"

    /[if IE 7]
      = stylesheet_link_tag "/app/stylesheets/ie7.css"

    = javascript_include_tag "/app/javascripts/jquery-1.5.1.min.js"
    = javascript_include_tag "/app/javascripts/jquery.cookie.js"
    = javascript_include_tag "/app/javascripts/universal.js"
    - if content_for?(:scripts)
      = yield :scripts

    = csrf_meta_tag

  %body(class="#{controller.controller_name} #{controller.action_name}")
    
    = render 'shared/omniture_code', :controller => controller.controller_name, :action => controller.action_name, :event => @event ||= ''

    #horrible_wrapper
      
      = outage_notification
      
      - if session[:login] || session[:user]
        #user_controls
          - if session[:user].has_access?(CloudAccess::FLEX)
            = link_to 'Flex Console', '/flex', :id => 'flex_console_link', :class => 'flex'
          =link_to 'Logout', '/app/logout'
      - else
        #login
          = link_to 'Login', login_path
      #head.container_24
        #top_head.container_24
          #logo.grid_6
            = link_to image_tag("/app/images/logo.png", :alt => "OpenShift by Red Hat Cloud"), root_path


          #plug.grid_11
            %p
              Free, leading-edge cloud services that enable developers to deploy applications written in multiple frameworks and languages across clouds.

          #button.grid_7
            - case @try_link_points_to
            - when 'register'
              = link_to 'Try it now!', '/app/user/new/express', :class => 'try_it'

            - when 'queue', 'request'
              = link_to 'Try it now!', '/app/access/express/request', :class => 'try_it'

            - when 'getting_started'
              = link_to 'Get Started!', '/app/getting_started/express', :class => 'try_it'

        .clear

        #nav.container_24
          %h5.category.expanded(data-category='products')
            Products
          %ul#products.expanded
            %li.first
              = link_to 'Express', express_path, :class => 'express'
            %li
              = link_to 'Flex', flex_path, :class => 'flex'
            %li.last
              = link_to 'Power', power_path, :class => 'power'

          %h5.category.collapsed(data-category='community')
            Community
          %ul#community.collapsed
            %li.first
              = link_to 'Forums', 'http://www.redhat.com/openshift/forums'
            %li
              = link_to 'Blog', 'http://www.redhat.com/openshift/blogs'
            %li.last
              = link_to 'Partners', partners_path

          %h5.category.collapsed.last(data-category='help')
            Help
          %ul#help.collapsed
            %li.first
              = link_to 'KB', 'http://www.redhat.com/openshift/kb'
            %li
              = link_to 'Docs', 'http://www.redhat.com/openshift/documents'
            %li
              = link_to 'Videos', 'http://www.redhat.com/openshift/videos'
            %li.last
              = link_to 'FAQ', 'http://www.redhat.com/openshift/faq'

          .clear

      = content_for?(:sub_layout) ? yield(:sub_layout) : yield

      #footer.container_24
        = image_tag "/app/images/shadowman.png", :alt => "Red Hat"

        %p Copyright &copy; 2011 Red Hat, Inc.

        %ul
          %li
            = link_to 'Legal', legal_path
          %li
            = link_to 'Privacy Policy', legal_openshift_privacy_path
          %li
            = link_to 'Contact Us', 'mailto:openshift@redhat.com'
          %li
            = link_to 'Security', 'https://access.redhat.com/security/team/contact/'

        .clear
