- content_for :extra_nav do
  %nav.service
    %header
      %h1
        Cloud Services
    .content
      %ul
        %li
          = link_to 'Express', express_path, :class => 'express'
        %li
          = link_to 'Flex', flex_path, :class => 'flex'
        %li
          = link_to 'Power', power_path, :class => 'power'

- content_for :sub_layout do
  %section.main
    %header
      %h1
        = yield :title if content_for? :title
    
    .content
      %nav
        %header
          %h2 
            Cloud Service Navigation
        
        = yield :product_nav if content_for? :product_nav
      
      .content
        = yield :product_content if content_for? :product_content
            

= render :file => 'layouts/application'
