!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-ie_html :class => 'no-js', :lang => 'en' do
  %head
    = render "layouts/head" 

    -# CSS: implied media="all"
    = stylesheet_link_tag 'common.css', :media => 'all'
    -# moved into core scss = stylesheet_link_tag 'custom.css', :media => 'all'
    -# Append your own using content_for :stylesheets
    = yield :stylesheets
    -# No longer support :stylesheet_partial

  %body{ :class => "#{controller.controller_name} #{controller.action_name}" }

    - if content_for? :important_layout
      = yield :important_layout

    = content_for?(:sub_layout) ? yield(:sub_layout) : yield


    -# Javascript at the bottom for fast page loading
    :ruby
      scripts = [
        'jquery.min.js',
        'rails',
        'plugins',
        'jquery.validate.min.js',
        'jquery.cookie.js',
        'form'
      ]

    - scripts.each do |script|
      = javascript_include_tag script

    -#  Append your own using content_for :javascripts
    = yield :javascripts
