-# file: Main site index

-# Add javascripts here - jquery is added automatically
- content_for :scripts do
  = javascript_include_tag "/app/javascripts/jquery.slideshow.minified.js"
  = javascript_include_tag "/app/javascripts/home.src.js"
  
.simpleSlideShow.slideShow.container_24
  #slides.grid_24
    %ul

      /Promo banners
      %li.slide
        = link_to 'http://makara.nurturehq.com/makara/newsletter_signup.html', :target => '_blank' do
          = image_tag "/app/images/promo_banner_newsletter.png",
            :alt => 'Sign up for the official OpenShift newsletter!'
      
      %li.slide
        = link_to 'http://twitter.com/#!/openshift', :target => '_blank' do
          = image_tag "/app/images/promo_banner_twitter.png",
            :alt => 'Don\'t get left behind, follow us on twitter @openshift'
      
      %li.slide
        = link_to 'http://www.oscon.com/oscon2011/public/content/java', :target => '_blank' do
          = image_tag "/app/images/promo_banner_oscon.png", :alt => 'Choose your framework. Choose your cloud. We\'re at OSCON Java - July 25-29'
      
      %li.slide
        = link_to 'http://www.couchbase.com/couchconf', :target => '_blank' do
          = image_tag "/app/images/promo_banner_couchconf.png", :alt => 'Our Paas is taking a seat at CouchConf. San Fransisco, July 29'

    /Slide show navigation
    %ul.navigation
      %li
        %a.page(href='#') 1
      %li
        %a.page(href='#') 2
      %li
        %a.page(href='#') 3
      %li
        %a.page(href='#') 4

  .clear

#page.container_24
  /High-level information
  #info.container_24

    /Deploy in Minutes
    #deploy_in_minutes.grid_7.prefix_1
      %h3 Deploy in Minutes
      %p
        Upload code and go! Whether you prefer a CLI or browser-based UI, OpenShift provides the fastest and easiest on-ramp to the cloud.
    
    /Focus on your App
    #focus_on_your_app.grid_8
      %h3 Focus on your App, <br/> not the Stack
      %p
        OpenShift supports and manages multiple frameworks, languages, middleware and clouds so you don't have to.
    
    /Auto-scale
    #auto_scale.grid_7
      %h3 Auto-scale
      %p
        Take advantage of the elasticity of the cloud, regardless if your app was designed for it or not.

    .clear
    
    = image_tag "/app/images/PaaS.png", 
      :id => 'front_image',
      :alt => 'OpenShift takes care of management, scaling, security and configuration, so that developers can focus on, well, development.'
    
    .clear

  /App promo boxes
  #app_promos.container_24

    /Express box
    .express.promo.grid_8
      %h3 Express
      = link_to express_path do
        = image_tag '/app/images/gearshift_express_dev_preview.png',
          :alt => 'Simple, automatic gearshift'
      
      .description.express
        %ul
          %li Free and easy cloud deployments
          %li PHP, Python, Ruby, Perl
          %li Git push  and leave the rest to us!
          %li 
            = link_to 'Learn more >', express_path, :class => 'list_link'

    /Flex box
    .flex.promo.grid_8
      %h3 Flex
      = link_to flex_path do
        = image_tag '/app/images/gearshift_flex_dev_preview.png',
          :alt => 'Automatic gearshift with a few more options'
      
      .description.flex
        %ul
          %li Auto-scale new and existing apps in the cloud
          %li PHP, Java EE, MySQL, MongoDB, Memcache, DFS
          %li Full control over configuration & Built-in monitoring
          %li
            = link_to 'Learn more >', flex_path, :class => 'list_link'
            

    /Power box
    .power.promo.grid_8
      %h3 Power
      = link_to power_path do
        = image_tag '/app/images/gearshift_power_coming_soon.png',
          :alt => 'Powerful, dual stick gearshift with lots of options'
      
      .description.power
        %ul
          %li Complete control over cloud deployments
          %li Custom topologies, root access, multi-tier dependencies
          %li Turn any application into a cloud deployment template
          %li 
            = link_to 'Learn more >', power_path, :class => 'list_link'

    .clear

  .clear
/End app promo boxes
