-# file: Main site index


%section#opener 
  .content
    %header
      %hgroup
        %h1
          Fast, Free and Open
        %h2
          Auto-Scaling for Java, PHP, Ruby, Python, and Perl apps in the cloud
    
    - unless logged_in?
      = link_to 'Sign up and try it', '/app/user/new/express', :class => 'button sign_up'
    - else
      - if has_access? :express
        = link_to 'Get started!', '/app/express#quickstart', :class => 'button quickstart'
    
    = image_tag '/app/images/flying-panda-ftw2.png',
      :alt => "Panda pilot, soaring through the clouds!"

%section#exposition.main
  %header
    %h1
      What is OpenShift?
  
  .content
    #fast
      %header
        %h2
          Time of the essence? Just upload code and go!

      %img.icon{ :src => "/app/images/fast_icon.png" }
      
      %p
        Whether you prefer the command line or a browser-based interface, OpenShift provides the fastest and easiest on-ramp to the cloud for free.
          
    #free
      %header
        %h2
          Experiencing growing pains? OpenShift is tailored to meet your needs.
                
      %img.icon{ :src => "/app/images/free_icon.png" }
    
      %p
        OpenShift adapts to the varying needs of your app with auto-scaling built-in. No need for complicated scripts or additional coding.
          
    #open
      %header
        %h2
          Don't get locked in! Choose your languages, frameworks, middleware and clouds.
      
      %img.icon{ :src => "/app/images/open_icon.png" }

      %p
        Keep your options open. OpenShift is based on Open Source with support for Java, PHP, Ruby, Python, and Perl and more.
      
%section#social.main
  %header
    %h1
      Buzz
  
  .content
    #latest
      %img.avatar{ :src => "/app/images/avatars/openshift.png" }
      
      %p.tweet{ :id => "latest_tweet" }
    
    #retweets

    #social_links
      %a.more{ :href => "http://twitter.com/#!/search/openshift" }
        More #openshift buzz
      
      %a.button{ :href => "http://twitter.com/#!/openshift" }
        Follow @OpenShift

- unless logged_in?
  %section#bottom_signup.main
    %header
      %hgroup
        %h1
          Curious?
        %h2
          Try OpenShift now for free!
      
      .content
        = link_to 'Sign up and try it', '/app/user/new/express', :class => 'sign_up button'

- content_for :javascripts do
  = javascript_include_tag "/app/javascripts/home.src.js"
