-# file: Main site index

%section#opener 
  .content
    %header
      %hgroup
        %h1
          Fast, Free and Open
        %h2
          Auto-Scaling for Java, PHP, Ruby, Python, and Perl apps in the cloud
    
    %a.button.sign_up{ :href => "#" }
      Sign up and try it
    
    = image_tag '/app/images/flying-panda-ftw2.png',
      :alt => "Panda pilot, soaring through the clouds!"

%section#exposition.main
  %header
    %h1
      What is OpenShift?
  
  .content
    #fast
      %header
        %h2
          OpenShift is Fast
      
      = image_tag '/app/images/fast_icon.png'
      
      %p
        Looking for the fastest on-ramp to the cloud? OpenShift gets your new and existing apps in the cloud in minutes.
      
      -#
        %a.more{ :href => "#" }
          Learn more about languages and frameworks
    
    #free
      %header
        %h2
          OpenShift is Free
      
      = image_tag '/app/images/free_icon.png'
    
      %p
        What are you waiting for? Deploying, managing, monitoring and auto-scaling applications on OpenShift is free.
    
    #open
      %header
        %h2
          OpenShift is Open
      
      = image_tag '/app/images/open_icon.png'

      %p
        Worried about lock-in? OpenShift lets you choose your language, framework, middleware and cloud.
      
      -#
        %a.more{ :href => "#" }
          Learn more about frameworks and middleware

%section#social.main
  %header
    %h1
      Buzz
  
  .content
    #latest
      %img.avatar{ :src => "images/avatars/openshift.png" }
      
      %p.tweet
        <a class="tweeter" href="http://twitter.com/#!/openshift">@OpenShift</a> Behind the scenes goodness on what it takes to run the OpenShift <a class="hashtag" href="http://twitter.com/#!/search?q=#PaaS">#PaaS</a> and the tech that makes it possible - Check it: <a href="http://red.ht/m6xc3y">red.ht/m6xc3y</a>
    
    #retweets
      %ul
        %li
          %img.avatar{ :src => "images/avatars/hbons.png" }
          
          %p.tweet
            <a class="tweeter" href="http://twitter.com/#!/hbons">@hbons</a> working on the <a class="hashtag" href="http://twitter.com/#!/search?q=#openshift">#openshift</a> website. coming along.
        
        %li
          %img.avatar{ :src => "images/avatars/emichan.png" }
          
          %p.tweet
            <a class="tweeter" href="http://twitter.com/#!/emichan">@emichan</a> i love pandas so much. <a class="hashtag" href="http://twitter.com/#!/search?q=#openshift">#openshift</a> is great for panda lovers like me!
        
        %li
          %img.avatar{ :src => "images/avatars/jimmac.png" }
          
          %p.tweet
            <a class="tweeter" href="http://twitter.com/#!/jimmac">@jimmac</a> RT <a class="tweeter" href="http://twitter.com/#!openshiftevents">@OpenShiftEvents</a> Matt Hicks speaking on what it takes to operate the OpenShift <a class="hashtag" href="http://twitter.com/#!/search?q=#PaaS">#PaaS</a> at next months Silicon Valley <a class="hashtag" href="http://twitter.com/#!/search?q=#CloudComputing">#CloudComputing</a> Meetup
        
        %li
          %img.avatar{ :src => "images/avatars/random.png" }
          
          %p.tweet
            <a class="tweeter" href="http://twitter.com/#!/random">@random</a> trying out <a class="hashtag" href="http://twitter.com/#!/search?q=#openshift">#openshift</a> - so far so good!

    #social_links
      %a.more{ :href => "http://twitter.com/#!/search/openshift" }
        More #openshift buzz
      
      %a.button{ :href => "http://twitter.com/#!/openshift" }
        Follow @OpenShift

%section#bottom_signup.main
  %header
    %hgroup
      %h1
        Curious?
      %h2
        Try OpenShift now for free!
  
  .content
    = link_to 'Sign up and try it', login_path, :class => 'sign_up button'
