-# file: Main site index


%section#opener 
  .content
    %header
      %hgroup
        %h1
          Fast, Free and Open
        %h2
          Auto-Scaling for Java, PHP, Ruby, Python, and Perl apps in the cloud
    
    = link_to 'Sign up and try it', '/app/user/new/express', :class => 'button sign_up'
    
    = image_tag '/app/images/flying-panda-ftw2.png',
      :alt => "Panda pilot, soaring through the clouds!"

%section#exposition.main
  %header
    %h1
      What is OpenShift?
  
  .content
    #fast
      %header
        %h2
          OpenShift is Fast
      
      = image_tag '/app/images/fast_icon.png'
      
      %p
        Looking for the fastest on-ramp to the cloud? OpenShift gets your new and existing apps in the cloud in minutes.
      
      -#
        %a.more{ :href => "#" }
          Learn more about languages and frameworks
    
    #free
      %header
        %h2
          OpenShift is Free
      
      = image_tag '/app/images/free_icon.png'
    
      %p
        What are you waiting for? Deploying, managing, monitoring and auto-scaling applications on OpenShift is free.
    
    #open
      %header
        %h2
          OpenShift is Open
      
      = image_tag '/app/images/open_icon.png'

      %p
        Worried about lock-in? OpenShift lets you choose your language, framework, middleware and cloud.
      
      -#
        %a.more{ :href => "#" }
          Learn more about frameworks and middleware

%section#social.main
  %header
    %h1
      Buzz
  
  .content
    #latest
      %img.avatar{ :src => "/app/images/avatars/openshift.png" }
      
      %p.tweet{ :id => "latest_tweet" }
    
    #retweets

    #social_links
      %a.more{ :href => "http://twitter.com/#!/search/openshift" }
        More #openshift buzz
      
      %a.button{ :href => "http://twitter.com/#!/openshift" }
        Follow @OpenShift

%section#bottom_signup.main
  %header
    %hgroup
      %h1
        Curious?
      %h2
        Try OpenShift now for free!
  
  .content
    = link_to 'Sign up and try it', login_path, :class => 'sign_up button'

- content_for :javascripts do
  = javascript_include_tag "/app/javascripts/home.src.js"
