-# file: Control Panel index

-#
  - content_for :scripts do
    = javascript_include_tag "/app/javascripts/jquery_ujs.js",
      "/app/javascripts/modernizr.js",
      "/app/javascripts/control_panel.js"

= render 'shared/pageheader', :product => 'express', :title => 'Control Panel', :subtitle => ''

#page.container_24
  #main_content.grid_22
  
    - if flash[:success]
      .message.success
        = flash[:success]
  
    - if flash[:notice]
      .message.notice
        = flash[:notice]
    
    - if flash[:error]
      .message.error
        = flash[:error]

    #domain_form
      %h2 Create a domain
      = semantic_form_for @domain, :remote => true do |form|
        = form.input :namespace
        = form.input :ssh, :as => :text
        = form.input :password, :as => :password
        = form.buttons
      
  .clear
