-# file: Control Panel index

- content_for :javascripts do
  = javascript_include_tag '/app/javascripts/jquery.ui.widget.js'
  = javascript_include_tag '/app/javascripts/widgets.js'
  = javascript_include_tag '/app/javascripts/control_panel.js'


%section.main
  %header
    %h1
      Control Panel
    = render 'layouts/flashes'
  -# = render :partial => 'control_panel/tabs'

  .content

    .alert.alert-info.new-console{:style => 'margin-top: 25px; padding: 10px 0; border-bottom: 1px solid #555; border-top: 1px solid #555;'}
      %h3= link_to "Preview the new OpenShift Management Console >>", console_path
      %p
        The new console will replace the control panel and offer a much deeper web experience for 
        OpenShift application management.  We wanted to share a preview of the changes that are coming, but 
        be aware that there may be a few minor glitches left as we straighten everything out.

      %p
        If you hit a problem or want to let us know how you feel about the new console, #{link_to "post in the Express forum", post_to_forum_url}.

    #docs.intro
      %header
        %h1 Getting Started 

      %p
        Express is a free, cloud-based application platform for Java, Perl, PHP, Python, and Ruby applications delivered in a shared-hosting model. With just a few commands you’ll be able to deploy your application to the cloud. 
      %p
        Getting started is easy. Use the resources below to help you out if you need it.

      #video
        = link_to 'video/OpenShift-Express-demo', :target => '_blank' do 
          = image_tag '/app/images/video_stills/OpenShift-Express-demo-md.png',  
            :title => "OpenShift Express Product Tour", 
            :alt => "OpenShift Express Product Tour"
          %p Express Product Tour

      -# = render :partial => 'control_panel/checklist'
      
      #resources
        %header
          %h2 Helpful Resources
        %ul
          %li
            = link_to 'Documentation', 'http://docs.redhat.com/docs/en-US/OpenShift_Express/2.0/html/User_Guide/index.html', :target => '_blank', :class => 'external'
          %li
            = link_to 'Videos', 'express#videos', :target => '_blank'
          %li
            = link_to 'Forum', 'http://www.redhat.com/openshift/forums/express', :target => '_blank', :class => 'external'
          %li
            = link_to 'IRC Channel', 'http://webchat.freenode.net/?randomnick=1&channels=openshift&uio=d4', :target => '_blank', :class => 'external'

    #apps.cp-section
      %h2
        Apps

      #app_list_container
        - unless @userinfo.app_info.blank?
          = render 'express_app/app_table', :apps => @userinfo.app_info
      
      #app_form_container
        - if @userinfo.namespace.blank?
          .app-form{ :style => 'display:none' }
            = render :partial => 'widgets/app_creation_widget'
          .app-placeholder
            You need to create a domain first, then you can create apps!
              
        - elsif @userinfo.app_info.length >= @max_apps
          .app-form{ :style => 'display:none' }
            = render :partial => 'widgets/app_creation_widget'
          .app-placeholder
            You have reached your limit of free apps.

        - else
          .app-form
            = render :partial => 'widgets/app_creation_widget'
          .app-placeholder{ :style => 'display:none' }
            You have reached your limit of free apps.

    #domains.cp-section
      %h2.with-inline-docs
        Namespace 

      = render 'widgets/inline_docs', :docs => 'domains'

      = render :partial => 'widgets/domain_widget'

    #ssh.cp-section
      %h2.with-inline-docs
        SSH Public Keys
       
      = render 'widgets/inline_docs', :docs => 'ssh'

      #ssh_container
        - if @userinfo.namespace.blank?
          .ssh-placeholder
            %p
              Create a domain name first, then add your ssh key.
          .ssh-form{:style => 'display: none'}
            = render :partial => 'widgets/ssh_widget'

        - else
          = render :partial => 'widgets/ssh_widget'



    %h2
      Change Password
      %p
        %a.change_password
          Click here to change your password
          
