-# file: Control Panel index

  - content_for :scripts do
    "/app/javascripts/control_panel.js"

%section.main
  %header
    %h1
      Dashboard
  
  .content
    = render 'layouts/flashes'

    #domain_form
      %h2 Create a domain
      = semantic_form_for @domain, :remote => true do |form|
        = form.input :namespace
        = form.input :ssh, :as => :text
        = form.input :password, :as => :password
        = form.buttons
      
