- show_dates = false if show_dates.nil?
- show_details = false if show_details.nil?
- show_payments = false if show_payments.nil?
- show_usage_rates = true if show_usage_rates.nil?

:css
  table.plan-items .plan-item-cost { text-align: right; }

%table.table.table-striped.plan-items
  - if bill.forwarded_balance != 0
    %tr.plan-item
      - if show_dates
        %td &nbsp;
      %td Forwarded balance
      - if show_details
        %td &nbsp;
      %td.plan-item-cost
        = number_to_user_currency(bill.forwarded_balance)


  - bill.line_items.sort_by(&Aria::LineItem.plan_sort).each do |li|

    %tr.plan-item
      - if show_dates
        %td= li.date
      %td
        = li.name
      - if show_details
        %td.plan-item-rate
          = line_item_details(li, show_usage_rates) || "&nbsp;".html_safe
      %td.plan-item-cost{:title => (line_item_details(li, show_usage_rates) unless show_details)}
        - if li.usage? && !show_usage_rates
          &nbsp;
        - else
          = number_to_user_currency(li.total_cost)

  - if show_usage_rates
    %tr.plan-total
      %td.right{:colspan => ((show_dates ? 1 : 0) + (show_details ? 1 : 0) + 2)}
        %strong Total charges:&nbsp; #{number_to_user_currency(bill.estimated_balance)}

  - if show_payments and bill.payments.present?
    %tr.plan-total
      %td{:colspan => ((show_dates ? 1 : 0) + (show_details ? 1 : 0) + 2)}
        - bill.payments.each do |p|
          %div
            = bill.show_payment_amounts? ? "#{number_to_user_currency(p.applied_amount)} billed to" : "Billed to"
            %strong= p.payment_src_description
            - if p.payment_src_suffix
              ending in 
              %strong= p.payment_src_suffix
            - if show_dates
              on
              = p.date.to_datetime.to_s(:billing_date)
            &nbsp; 
            #{link_to "Change card", edit_account_payment_method_path}

