%h2 Email us
%p
  = semantic_form_for @support_contact, :url => 'contact', :simple => true, :html => {:id => 'new_user_form', :class => ''} do |form|
    %input{:type => 'hidden', :name => 'from', :value => @user.login}
    = form.inputs do
      = form.input :subject, :as => :string, :input_html => { :placeholder => 'General Question (Subject)', :autofocus => true }
      = form.input :body, :as => :text, :input_html => { :placeholder => "Hi user, How can we help you?" }
      .form-actions
        = form.commit_button 'Send', :button_html => {:class => 'btn btn-primary btn-block-phone btn-large'}
    