%h4 Email us your questions
= semantic_form_for @post, :url => 'contact', :simple => true, :html => {:id => 'new_user_form', :class => ''} do |form|
  = form.inputs do
    = form.input :from, :as => :hidden, :value => @user.login
    = form.input :subject, :as => :string, :input_html => { :placeholder => 'General Question (Subject)', :autofocus => true, :class => 'span3' }
    = form.input :body, :as => :text, :input_html => { :placeholder => "Hi user, How can we help you?", :class => 'span3' }
    .form-actions
      = form.commit_button 'Send', :button_html => {:class => 'btn btn-primary btn-block-phone btn-small'}
  %p
    or email us at:
    %a{:href => "mailto:os.accounts@redhat.com"} os.accounts@redhat.com