%h1.ribbon What's next?

%section
  %p 
    Check your inbox for an email confirming your account.  You must 
    click the link in the email to complete the registration process.

  %p 
    If you do not receive an email within a few minutes, check your 
    Spam folder to ensure it was not incorrectly moved. Please see 
    our #{link_to "FAQ for troubleshooting tips regarding signup", signup_faq_url}. If these steps do not resolve your issue, contact us 
    at #{link_to_account_mailto} or on #{link_to_irc}.

  %p= link_to '« Back to the main page', root_path

  %form
    %input{:type => "hidden", :name => "captcha_type", :value => @captcha_type }
    %input{:type => "hidden", :name => "captcha_status", :value => @captcha_status }

-# Google AdWords conversion tracking
%img{:height => 1, :width => 1, :style => "border-style:none", :alt => "", :src => "//www.googleadservices.com/pagead/conversion/1007064360/?value=0&amp;label=3qfsCMjw0gIQqKqa4AM&amp;guid=ON&amp;script=0&amp;url=" + URI.escape("#{request.protocol}#{request.host_with_port}#{request.fullpath}") }