- content_for :page_title, 'My Account'

%h1
  My Account
  %small.pull-right
    <strong>#{@plan.name}</strong> Plan

.row-fluid
  .span4
    %section.panel
      = render :partial => 'settings', :locals => {:identity => @identity, :domain => @domain, :user => @user, :user_has_keys => @user_has_keys}

  .span8
    %section.panel
      %h2 Common Questions
      %dl
        %dt How do I get started with OpenShift?
        %dd
          Dive right in and #{link_to "create your first application", application_types_path}.
        %dd
          If you'd like to learn more about installing and using the command-line tools or building applications in
          OpenShift with JBoss check out our #{link_to "Get Started page", getting_started_path}.

        %dt How do I get help building and deploying applications?
        %dd
          OpenShift offers a number of community resources for building and maintaining your applications. See the 
          #{link_to "Developer Center", developers_url} for documentation, tutorials, and technology guides
          in your favorite technology. If you've got a specific question, ask it on #{stack_overflow_link} or via
          our OpenShift #{link_to "forums", forums_url}.
        %dd
          If you are encountering an issue with the service, join us on #{link_to_irc} or send an email to 
          #{link_to_account_mailto}.

        %dt What are the benefits of upgrading my account?
        %dd
          An OpenShift account provides a number of features and conveniences for hosting production applications.

        %dd
          %ul
            %li 24/7 world-class technical support from Red Hat
            %li Access to up to 16 gears for your applications
            %li Additional disk storage for your gears
            %li Custom SSL for your own domain names

        %dd
          For more information about upgrading see our #{link_to "plans and pricing page", pricing_url}.

%section.panel
  = render :partial => 'upgrade', :locals => {:user => @user}
