- content_for :page_title, 'My Account'

%h1
  Account for
  %small Bob Smith
  %small.pull-right
    <strong>#{@plan.name}</strong> Plan

.row-fluid
  .span4
    %section.panel
      %h2 Settings
      %dl
        %dt Login
        %dd= @user.login
        %dt Domain
        %dd
          - if @domain
            = @domain.name
          - else
            = link_to "Create a domain for your applications", new_domain_path
        %dt SSH Keys
        %dd
          - if @user_has_keys
            Uploaded
          - else
            = link_to "Upload your public key to access code", new_key_path

  .span8
    %section.panel
      %h2 Common Questions
      %dl
        %dt How do I get help running my applications?
        %dd
        %dt What are the benefits of upgrading my account?
        %dd
        %dt ?

:css
  .block-gears { border: 1px solid gray; background-color: #444; display: inline-block; }
  .block-gears-empty { background-color: transparent; display: block; }
  .block-gears .block-gear { border-right: 1px solid gray; display: inline-block; width: 20px; }
  .block-gears-empty .block-gear { width: auto; padding: 0 30px; min-width: 100px; }
  .block-gears .block-gear:last-child { border-right: 0; }
  .table-gears td { padding: 2px 10px; text-align: center; font-size: 11px; }
  .table-gears td:first-child { padding-left: 0; }

%section.row-fluid
  .span4
    %h3 Upgrade to get access to more gears
  .span5
    %h4 Using #{@user.consumed_gears} of #{@user.max_gears} gears
    %table.table-gears
      %tr
        %td
          .block-gears
            .block-gear> &nbsp;
            .block-gear> &nbsp;
            .block-gear> &nbsp;
        %td
          .block-gears.block-gears-empty
            .block-gear
              Up to 16 Gears
      %tr
        %td FreeShift
        %td Upgrade to MegaShift
  .span3
    %span.btn.btn-primary.btn-large Upgrade Now
