- content_for :page_title, 'Account Help'
.row
  %section
    .navbar
      = render :partial => 'help_banner', :locals => {:user => @user, :user_on_basic_plan => @user_on_basic_plan}

= flashes
.row
  .span8
    %section
      = render :partial => 'faq', :locals => {:topten => @topten}
  .span4
    %section
      = render :partial => 'contact', :locals => {:user => @user, :user_on_basic_plan => @user_on_basic_plan}
      = render :partial => 'customer_service'
      = render :partial => 'tech_support'

