- content_for :page_title, 'Account Help'
.row
  .navbar.container.nav-collapse
    = render :partial => 'help_banner', :locals => {:user => @user}

= flashes
.row
  .span8
    %section
      = render :partial => 'search'
      = render :partial => 'faq'
  .span4
    %section
      = render :partial => 'contact', :locals => {:user => @user}
      = render :partial => 'customer_service'
      = render :partial => 'tech_support'

