%h1
  Account for
  %small Bob Smith
  %small.pull-right
    <strong>#{@plan.name}</strong> Plan

.row-fluid
  .span8
    %section.panel
      %ul.unstyled
        %li You owe $46.30 (USD), due on Sept 30, 2013 <strong>or</strong>
        %li You owe $46.30 (USD) which was due on Sep 10, 2013 <strong>or</strong>
        %li Your account balance is $0.00, next bill will be due Sep 30, 2013

    %section.panel
      .pull-right
        View Details &gt;
      %h2 Current Charges 
      %div Next bill will be due Sep 30, 2013
      %p
        Day 4 of billing cycle September 10 - September 30
      .row-fluid
        .span6
          %table.table.table-striped.plan-items
            - @line_items.each do |li|
              %tr.plan-item
                %td
                  = li.name
                  = li.summary
                %td.plan-item-cost= li.total_cost

            %tr.plan-total
              %td.right{:colspan => 2}
                %strong Total:&nbsp; #{@line_items.map(&:total_cost).sum}

        .span6
          A graph of current vs old usage

  .span4.sidebar
    %section.panel
      %h2 Settings
      %dl
        %dt Login
        %dd foo@bar.com
        %dt Domain
        %dd
          - if @domain
            = @domain.name
          - else
            = link_to "Create a domain for your applications", new_domain_path
        %dt SSH Keys
        %dd
          - if @user_has_keys
            Uploaded
          - else
            = link_to "Upload your public key to access code", new_key_path

    %section.panel
      %h2 Get Help
      %ul.unstyled
        %li= link_to "Find answers to account questions", settings_account_path
        %li Need Technical Support? #{link_to "Visit the Customer Portal", openshift_customer_portal_url}.
        %li= link_to "More details on your plan", account_plans_path
