- content_for :page_title, 'My Account'

%h1
  Account for
  %small Bob Smith
  %small.pull-right
    <strong>#{@plan.name}</strong> Plan

.row-fluid
  .span8
    %section.panel
      - unless @has_payment_method
        %p
          The payment method associated with your account is no longer valid. #{link_to "Please provide a valid credit card for this account", edit_account_payment_method_path}.
      %p
        - if @current_balance > 0
          - if @bill_due_date > Date.today
            You owe #{number_to_currency(@current_balance)}, due on #{@bill_due_date.to_s(:billing_date)}.
          - else
            You owe #{number_to_currency(@current_balance)} which was due on #{@bill_due_date.to_s(:billing_date)}.
        - else
          Your account balance is #{number_to_currency(@current_balance)}, and your next bill will be due on #{@bill_due_date.to_s(:billing_date)}.

    %section.panel
      %h2 Current Charges 
      -#%div Next bill will be due #{@next_bill_date.to_s(:billing_date)}
      %p
        Day #{@current_period_day} of billing cycle #{@current_period.first.to_s(:billing_date)} - #{@current_period.last.to_s(:billing_date)}
      .row-fluid
        .span6
          %table.table.table-striped.plan-items
            - @line_items.each do |li|
              %tr.plan-item
                %td
                  = li.name
                %td.plan-item-cost
                  - if li.respond_to? :units
                    #{pluralize(number_with_precision(li.units, :precision => 0), li.units_label)} @ #{number_to_currency(li.rate)}
                  - else
                    = number_to_currency(li.total_cost)

            %tr.plan-total
              %td.right{:colspan => 2}
                %strong Estimated use this month:&nbsp; #{number_to_currency(@next_bill_estimate)}

          %p The estimate above does not include taxes and may not accurately reflect discounts, peaks in future usage, or recent activity.

        .span6
          = render :partial => 'usage_charges', :locals => {:current_usage_items => @current_usage_items, :past_usage_items => @past_usage_items, :max_usage => @max_usage}

      %p.payment_method
        - if @payment_method.persisted?
          Credit card <span class="card_number">#### #### #### #{@payment_method.cc_no}</span>, expires <span class="card_expiration">#{@payment_method.expiration_date.to_s(:credit_card)}. #{link_to "Change", edit_account_payment_method_path}</span>
        - else
          #{link_to "Add a credit card to this account", edit_account_payment_method_path}
        | #{link_to "Update billing address", edit_account_billing_info_path}


  .span4.sidebar
    %section.panel
      %h2 Settings
      %dl
        %dt Login
        %dd= @user.login
        %dt Domain
        %dd
          - if @domain
            = @domain.name
          - else
            = link_to "Create a domain for your applications", new_domain_path
        %dt SSH Keys
        %dd
          - if @user_has_keys
            Uploaded
          - else
            = link_to "Upload your public key to access code", new_key_path

    %section.panel
      %h2 Get Help
      %ul.unstyled
        %li= link_to "Find answers to account questions", settings_account_path
        %li Need Technical Support? #{link_to "Visit the Customer Portal", openshift_customer_portal_url}.
        %li= link_to "More details on your plan", account_plans_path
