- content_for :page_title, 'My Account'

.pull-right
  %div.right <strong>#{@plan.name}</strong> Plan
  %div.right= link_to "Plan details", account_plan_path

%h1
  Account for
  %small #{@user.login}

- unless @has_valid_payment_method
  .panel
    %p
      The payment method associated with your account is no longer valid. #{link_to "Please provide a valid credit card for this account", edit_account_payment_method_path}.

    - if @bill.present?
      %p
        - if @bill.due_date > Date.today
          You owe #{number_to_currency(@bill.balance)}, due on #{@bill.due_date.to_s(:billing_date)}.
        - else
          You owe #{number_to_currency(@bill.balance)} which was due on #{@nbill.due_date.to_s(:billing_date)}.

.row-fluid
  .span8
    %section.panel
      - if @bill.present?
        .pull-right= link_to "Billing history", account_bills_path
        %h2 Upcoming Charges
        %p
          Day #{@bill.day} of billing cycle #{@bill.start_date.to_s(:billing_date)} - #{@bill.end_date.to_s(:billing_date)}

        - if @bill.line_items.present? 
          - if not @plan.basic? and @past_usage_items.present?
            .row-fluid
              .span6
                = render :partial => 'bill', :locals => {:bill => @bill, :show_dates => false}
              .span6
                = render :partial => 'usage_charges', :locals => {:current_usage_items => @current_usage_items, :past_usage_items => @past_usage_items, :max_usage => @max_usage}
          - else
            = render :partial => 'bill', :locals => {:bill => @bill, :show_dates => false}

        - else
          %p You have no recorded charges yet

        %p.disclaimer The amounts above may not accurately reflect discounts, applicable sales taxes, peaks in future usage, or recent activity.  You are billed for your previous month's usage and any flat fees for the next month (prorated).

      - else

        %h2 Upcoming Charges
        %p The breakdown of your next bill is not available yet.  Please check back shortly.

      %p.payment_method
        - if @payment_method.present?
          Your credit card (ending in <span class="card_number">#{@payment_method.cc_no}</span> and expiring <span class="card_expiration">#{@payment_method.expiration_date.to_s(:credit_card)}</span>) will be charged on #{@bill.due_date.to_s(:billing_date)}.<br>
        #{link_to @payment_method.blank? ? "Add a card to this account" : "Change card", edit_account_payment_method_path}
        | #{link_to "Update address", edit_account_billing_info_path}

      - if @is_test_user
        .alert.alert-warning You are accessing OpenShift with a test user.  If this is in error, please contact the account support team immediately.


  .span4
    %section.panel
      = render :partial => 'settings', :locals => {:identity => @identity, :domain => @domain, :user => @user, :user_has_keys => @user_has_keys}

    %section.panel
      %h2 Got Questions?
      %h3= link_to "Account Help", help_account_path
      - if @plan.basic?
        %h3= link_to "Community Support", help_account_path
      - else
        %h3= link_to "Technical Support", openshift_customer_portal_url

- if @plan.basic?
  %section.panel
    = render :partial => 'upgrade', :locals => {:user => @user}
