-# file: Express product page

-# 
  TODO: at some point, we should be using partials for some of this content

- content_for :scripts do
  = javascript_include_tag "/app/javascripts/jquery.tools.min.js"
  = javascript_include_tag "/app/javascripts/products"

- content_for :page_title do
  Express

-# Express title
- content_for :pageheader do
  = render 'shared/pageheader', :product => 'express', :title => 'OpenShift Express', :subtitle => 'Free and Easy Cloud Deployments'
  
-# About Express
- content_for :banner do
  %h2 OpenShift Express
  %h3 Looking for a fast on-ramp to the Cloud?
  %p
    Get Ruby, PHP and Python apps in the cloud with just a few lines of code.
    
  - case @try_link_points_to
  - when 'register'
    = link_to 'Try it now!', '/app/user/new/express', :class => 'try_it'
  
  - when 'queue', 'request'
    = link_to 'Try it now!', '/app/access/express/request', :class => 'try_it'
  
  - when 'getting_started'
    = link_to 'Get Started!', '/app/getting_started/express', :class => 'try_it'

-# Tabs
- content_for :tabs do
  %ul#tab_navigation
    %li
      %a.step-one(href="#step_1") Install
    %li
      %a.step-two(href="#step_2") Create
    %li
      %a.step-three(href="#step_3") Deploy
  
  #step_1.tab
    %h3 Install the OpenShift Express Client Tools
    
    .tab_illustration
      <object width="560" height="349"><param name="movie" value="#{request.protocol}www.youtube.com/v/KLtbuvyJFFE?version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="#{request.protocol}www.youtube.com/v/KLtbuvyJFFE?version=3" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="349"></embed></object>
    
    %p
      Download and install the OpenShift Express client tools so you can deploy and manage your application in the cloud.
    
    = link_to 'Watch the video >>>', 'http://www.youtube.com/watch?v=KLtbuvyJFFE', :class => 'watch'

  #step_2.tab
    %h3 Create and Define your Application

    .tab_illustration
      <object width="560" height="349"><param name="movie" value="#{request.protocol}www.youtube.com/v/p83Cx6s_q1U?version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="#{request.protocol}www.youtube.com/v/p83Cx6s_q1U?version=3" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="349"></embed></object>
    %p
      Create a subdomain for your application and clone the Git master repository from the cloud.
    
    = link_to 'Watch the video >>>', 'http://www.youtube.com/watch?v=p83Cx6s_q1U', :class => 'watch'

  #step_3.tab
    %h3 Deploy to the Cloud

    .tab_illustration
      <object width="560" height="349"><param name="movie" value="#{request.protocol}www.youtube.com/v/H9rMgKCoW3w?version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="#{request.protocol}www.youtube.com/v/H9rMgKCoW3w?version=3" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="349"></embed></object>

    %p
      Add your application code to the Git repository and push to the cloud. Congratulations, your application is live!
    
    = link_to 'Watch the video >>>', 'http://www.youtube.com/watch?v=H9rMgKCoW3w', :class => 'watch'
      

-# Video section
- content_for :videos do
  .product-video 
    %h3 OpenShift Express Product Tour
    %p.video-author.author
      Mike McGrath,  Cloud Architect - Red Hat
    
    .video-thumb.thumb
      -#
        %a(href="video/expressproddemo") 
          %img(src="#{request.protocol}www.redhat.com/g/video_stills/expressproddemo.png" title="OpenShift Express Product Tour" alt="OpenShift Express Product Tour")
               
      %img(src="/app/images/temp_video_thumb.png" title="Stay Tuned! This video is coming soon!" alt="This video is coming soon!")
  
    %p.video-description
      %strong
        This video is coming soon! Stay Tuned!
      This video walks you through the high level functionality of OpenShift Express, from installing the client tools, creating a subdomain to deploying your app onto the cloud.
        
    /
      .video-meta.meta
        %p.video-length
          3 min, 27 seconds
        %p.video-postdate
          Posted May 5, 2011

  .product-video 
    %h3 Mobile App Deployment to Express w/ Appcelerator
    %p.video-author.author
      Nolan Wright,  CTO and Co-Founder - Appcelerator
    
    .video-thumb.thumb
      %img(src="/app/images/temp_video_thumb.png"
           title="Stay Tuned! This video is coming soon!"
           alt="This video is coming soon!")
  
    %p.video-description
      %strong
        This video is coming soon! Stay Tuned!
      This video shows you just how easy it is to develop and deploy a mobile app onto OpenShift Express with Appcelerator's Mobile Cloud Platform
      
    /
      .video-meta.meta
        %p.video-length
          3 min, 27 seconds
        %p.video-date.date
          Posted May 5, 2011
        
  %a.more(href="http://www.redhat.com/openshift/videos") More Videos &gt;
  
-# Community section
- content_for :community do
  .post
    %h3 News from Summit
    %p
      This thread tracks all the latest news from Red Hat Summit/JBoss World 2011.
      
    = link_to 'Read more >', 'https://www.redhat.com/openshift/forums/news-and-announcements/news-from-summit', :class => 'more'
    
  .post
    %h3 Getting Started with Drupal
    %p
      Follow along as David deploys Drupal on OpenShift Express in this fun, informative screencast. 
    
    .post-meta.meta
      %p.post-author.author
        Posted by DavidB
      %p.post-date.date
        Posted on May 4, 2011
        
    = link_to 'Watch this >', 'https://www.redhat.com/openshift/videos/openshift-express-getting-started-with-drupal', :class => 'more'
  
  .post
    %h3 
      Installing Express client tools 
      %br
      on non RPM based systems
    %p
      This knowledge base article walks you through installing the OpenShift Express client tools on Windows, Mac, and Debian-based Linux systems
    
    .post-meta.meta
      %p.post-author.author
        Posted by admin
      %p.post-date.date
        Posted on April 15, 2011
        
    = link_to 'Read this >', 'https://www.redhat.com/openshift/kb/kb-e1000/installing-openshift-express-client-tools-on-non-rpm-based-systems', :class => 'more'
    
-# Resource links
- content_for :resources do

  %ul
    %li
      = link_to 'OpenShift Express User Guide', 'http://docs.redhat.com/docs/en-US/OpenShift/1.0/html/OpenShift_Express_User_Guide/index.html'
    %li
      = link_to 'OpenShift Express Evaluation Guide', 'https://www.redhat.com/openshift/sites/default/files/documents/RHOS_Express_Eval_Guide.pdf'
    
    %li
      = link_to 'Deploying Drupal on OpenShift Express', 'https://www.redhat.com/openshift/sites/default/files/documents/RHOS_Express_Getting_Started_w_Drupal.pdf'
      
    %li
      = link_to 'Deploying MediaWiki on OpenShift Express', 'https://www.redhat.com/openshift/sites/default/files/documents/RHOS_Express_Getting_Started_w_MediaWiki.pdf'
    
  
  = link_to 'More Documentation>', 'http://www.redhat.com/openshift/documents', :class => 'more'

-# Platforms
- content_for :platforms do
  %ul
    %li PHP
    %li Ruby
    %li Python
  
  = link_to 'More information >', 'http://www.redhat.com/openshift/faq', :class => 'more' 

-# Supplementary documentation links
- content_for :doc_links do
  #doc_link
    = link_to 'http://www.redhat.com/openshift/kb' do
      %h3
        Knowledge Base
      %p
        Get schooled! &gt;
    
    = link_to 'http://www.redhat.com/openshift/documents' do
      %h3 Docs
      %p
        For those who want to RTFM! &gt;
        

-# Promos
- content_for :promos do
  /
    .sidebar-promo
      %h3 Promo title
      %p
        This is an example promo.
