-# file: Flex product page

-# 
  TODO: at some point, we should be using partials for some of this content
  
- content_for :scripts do
  = javascript_include_tag "/app/javascripts/jquery.tools.min.js"
  = javascript_include_tag "/app/javascripts/products"
  
- content_for :page_title do
  Flex

-# Flex title
- content_for :pageheader do
  = render 'shared/pageheader', :product => 'flex', :title => 'OpenShift Flex', :subtitle => 'Auto-scaling PaaS for JBoss, Java, and PHP'
  
-# About Flex
- content_for :banner do
  %h2 OpenShift Flex
  %h3 Need to auto-scale new and existing apps in the Cloud?
  %p
    Provision, deploy, monitor and auto-scale JBoss, Java EE6 and PHP apps    
    
  = link_to 'Try it now!', '/app/flex_redirect', :class => 'try_it'     

-# Tabs
- content_for :tabs do
  %ul#tab_navigation
    %li
      %a.step-one(href="#step_1") Build
    %li
      %a.step-two(href="#step_2") Deploy
    %li
      %a.step-three(href="#step_3") Monitor &amp; Scale
  
  #step_1.tab
    %h3 Build your Server Cluster and Application Stack
    
    .tab_illustration
      = image_tag "http://placekitten.com/g/300/200",
              :title => "Replace withillustration of some sort", 
              :alt => "Step one illustration"
    
    %p
      OpenShift Flex's wizard driven interface makes it easy to provision resources and build integrated application stacks.
      
    = link_to 'Watch the video >>>', '#', :class => 'watch'

  #step_2.tab
    %h3 Deploy, Modify, Rollback and Restart Applications

    .tab_illustration
      = image_tag "http://placekitten.com/g/300/200",
              :title => "Replace withillustration of some sort", 
              :alt => "Step two illustration"

    %p
      OpenShift Flex makes it easy to deploy your application, make modifications to code and components, version your changes and redeploy.
    
    = link_to 'Watch the video >>>', '#', :class => 'watch'

  #step_3.tab
    %h3 Monitoring and Auto-Scaling Built-in

    .tab_illustration
      = image_tag "http://placekitten.com/g/300/200",
              :title => "Replace with illustration of some sort", 
              :alt => "Step three illustration"

    %p
      Without the use of agents or scripts, OpenShift Flex gives you end-to-end monitoring straight-out-of-box with configurable auto-scaling that lets you decide when and how to scale your application.
    
    = link_to 'Watch the video >>>', '#', :class => 'watch'

-# Video section
- content_for :videos do
  .product-video 
    %h3 OpenShift Flex Product Tour
    %p.video-author.author
      Issac Roth,  PaaS Master - Red Hat
    
    .video-thumb.thumb
      /http://www.redhat.com/g/video_stills/flexproddemo.png      
      %a(href="video/flexproddemo")
        %img(src="http://placekitten.com/g/150/100"
             title="OpenShift Flex Product Tour"
             alt="OpenShift Flex Product Tour")
  
    %p.video-description
      This video walks you through the high level functionality of OpenShift Flex, covering provisioning, deploying, monitoring and scaling applications in the cloud.
    
    /
      .video-meta.meta
        %p.video-length
          3 min, 27 seconds
        %p.video-postdate
          Posted May 5, 2011

  .product-video 
    %h3 What are people saying about OpenShift?
    %p.video-author.author
      Developers, ISVs, customers and partners
    
    .video-thumb.thumb
      /http://www.redhat.com/g/video_stills/openshiftmontage.png      
      %a(href="video/openshiftmontage")
        %img(src="http://placekitten.com/g/150/100"
             title="Developers, ISVs, customers and partners"
             alt="Developers, ISVs, customers and partners")
  
    %p.video-description
      This video shows you what developers, ISVs, customers and partners are saying about Red Hat's exciting new OpenShift PaaS.
    
    /
      .video-meta.meta
        %p.video-length
          3 min, 27 seconds
        %p.video-date.date
          Posted May 5, 2011
        
  %a.more(href="http://www.redhat.com/openshift/videos") More Videos &gt;
  
-# Community section
- content_for :community do
  .post
    %h3 Post title
    %p
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    
    .post-meta.meta
      %p.post-author.author
        Posted by Author
      %p.post-date.date
        Posted on June 8, 2011 13:21
        
    %a.more(href="#") Read more &gt;
  
  .post
    %h3 Post title
    %p
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    
    .post-meta.meta
      %p.post-author.author
        Posted by Author
      %p.post-date.date
        Posted on June 8, 2011 13:21
        
    %a.more(href="#") Read more &gt;

-# Resource links
- content_for :resources do
  %ul
    %li
      = link_to "OpenShift Flex Evaluation Guide", "#"
    
    %li
      = link_to "Deploying Drupal on OpenShift Flex", "#"
    
    %li
      = link_to "Deploying Wordpress on OpenShift Flex", "#"
    
    %li
      = link_to "Deploying JBoss Applications on OpenShift Flex", "#" 
  
  = link_to 'More Documentation >', 'http://www.redhat.com/openshift/documents', :class => 'more'
  
-# Tour link
- content_for :tour_link do
  %a(href="#")
    %h3 Take the Tour!
    %p 
      Check it out and see how cool it is!

-# Platforms
- content_for :platforms do
    
  %h4 Application Types
  %ul
    %li Java
    %li PHP
  
  %h4 Web Servers
  %ul
    %li Apache
  
  %h4 App Servers
  %ul
    %li JBoss AS
    %li Tomcat
    %li Apache
  
  %h4 Databases
  %ul
    %li MySQL
    %li MongoDB
    %li Memcached
    
  = link_to 'More information >', '#', :class => 'more'

-# Supplementary documentation links
- content_for :doc_links do
  #doc_link
    = link_to 'http://www.redhat.com/openshift/kb' do
      %h3
        Knowledge Base
      %p
        Get schooled! &gt;
    
    = link_to 'http://www.redhat.com/openshift/documents' do
      %h3 Docs
      %p
        For those who want to RTFM! &gt;

-# Promos
- content_for :promos do
  /
    .sidebar-promo
      %h3 Promo title
      %p
        This is an example promo.
