-# file: Flex product page

-# 
  TODO: at some point, we should be using partials for some of this content

-# Flex title
- content_for :pageheader do
  = render 'shared/pageheader', :product => 'flex', :title => 'Flex', :subtitle => 'Free, Auto-scaling Platform as a Service'
  
-# About Flex
- content_for :about do
  %h2 What is Flex?
  %p
    Flex is a free platform-as-a-service for new and existing JBoss, Java EE6 and PHP applications. Provision cloud resources, deploy, manage, monitor and auto-scale applications from a single, easy-to-use interface.

-# Screenshot
- content_for :screenshot do
  = image_tag "http://placekitten.com/g/300/250",
              :title => "Replace with actual screenshot", 
              :alt => "Screenshot"

-# Tabs
- content_for :tabs do
  %ul#tab_navigation
    %li
      %a.step-one(href="#step_1") Provision
    %li
      %a.step-two(href="#step_2") Middleware
    %li
      %a.step-three(href="#step_3") Upload
    %li
      %a.step-four(href="#step_4") Tweak
    %li
      %a.step-five(href="#step_5") Deploy
  
  #step_1.tab
    %h3 Provision Cloud Resources
    
    .tab_illustration
      = image_tag "http://placekitten.com/g/300/200",
              :title => "Replace withillustration of some sort", 
              :alt => "Step one illustration"
    
    %p
      Plug your AWS credentials into the wizard; then define the memory and CPU characteristics of your cluster.
    
    = link_to 'Watch the video >>>', '#', :class => 'watch'

  #step_2.tab
    %h3 Select Middleware Components

    .tab_illustration
      = image_tag "http://placekitten.com/g/300/200",
              :title => "Replace withillustration of some sort", 
              :alt => "Step two illustration"

    %p
      Build your stack by selecting language, web, application, database, and caching server components.
    
    = link_to 'Watch the video >>>', '#', :class => 'watch'

  #step_3.tab
    %h3 Upload the Application Code

    .tab_illustration
      = image_tag "http://placekitten.com/g/300/200",
              :title => "Replace withillustration of some sort", 
              :alt => "Step three illustration"

    %p
      Upload your application code in a variety of different ways depending on what works for you.
    
    = link_to 'Watch the video >>>', '#', :class => 'watch'

  #step_4.tab
    %h3 Tweak Configuration Files

    .tab_illustration
      = image_tag "http://placekitten.com/g/300/200",
              :title => "Replace withillustration of some sort", 
              :alt => "Step four illustration"

    %p
      You'll probably want to make changes to the standard configuration files. No problem, Flex makes it easy.
    
    = link_to 'Watch the video >>>', '#', :class => 'watch'

  #step_5.tab
    %h3 Deploy Your Application

    .tab_illustration
      = image_tag "http://placekitten.com/g/300/200",
              :title => "Replace withillustration of some sort", 
              :alt => "Step five illustration"

    %p
      Click "Deploy", you are now running in the cloud!
    
    = link_to 'Watch the video >>>', '#', :class => 'watch'
    

-# Video section
- content_for :videos do
  .product-video 
    %h3 Video Title
    %p.video-author.author
      Author, Author description
    
    .video-thumb.thumb
      %a(href="#")
        %img(src="http://placekitten.com/g/150/100"
             title="Replace with actual video thumbnail"
             alt="Video title")
  
    %p.video-description
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    
    .video-meta.meta
      %p.video-length
        3 min, 27 seconds
      %p.video-postdate
        Posted May 5, 2011

  .product-video 
    %h3 Video Title
    %p.video-author.author
      Author, Author description
    
    .video-thumb.thumb
      %a(href="#")
        %img(src="http://placekitten.com/g/150/100"
             title="Replace with actual video thumbnail"
             alt="Video title")
  
    %p.video-description
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    
    .video-meta.meta
      %p.video-length
        3 min, 27 seconds
      %p.video-date.date
        Posted May 5, 2011
        
  %a.more(href="#") More documentation &gt;
  
-# Community section
- content_for :community do
  .post
    %h3 Post title
    %p
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    
    .post-meta.meta
      %p.post-author.author
        Posted by Author
      %p.post-date.date
        Posted on June 8, 2011 13:21
        
    %a.more(href="#") Read more &gt;
  
  .post
    %h3 Post title
    %p
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    
    .post-meta.meta
      %p.post-author.author
        Posted by Author
      %p.post-date.date
        Posted on June 8, 2011 13:21
        
    %a.more(href="#") Read more &gt;

-# Resource links
- content_for :resources do
  %ul
    %li
      = link_to "Flex Evaluation Guide", "#"
    
    %li
      = link_to "Deploying Drupal on Flex", "#"
    
    %li
      = link_to "Deploying Wordpress on Flex", "#"
    
    %li
      = link_to "Deploying JBoss Applications on Flex", "#" 
  
  = link_to 'More Documentation >', '/documents', :class => 'more'
  
-# Tour link
- content_for :tour_link do
  %a(href="#")
    %h3 Take the Tour!
    %p 
      Check it out and see how cool it is!

-# Platforms
- content_for :platforms do
  %h4 Clouds
  %ul
    %li Amazon EC2
    
  %h4 Application Types
  %ul
    %li Java
    %li PHP
  
  %h4 Web Servers
  %ul
    %li Apache
  
  %h4 App Servers
  %ul
    %li JBoss AS
    %li Tomcat
    %li Apache
  
  %h4 Database
  %ul
    %li MySQL
    %li MongoDB
    %li Memcached
    
  = link_to 'More information >', '#', :class => 'more'

-# Top Video
- content_for :top_video do
  #top_video_thumb
    = image_tag "http://placekitten.com/g/150/100",
                :title => "Replace with actual video thumbnail",
                :alt => "Today's top video"
  %h4 Video Title
  %p.video-author.author
  %p.video-description
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut.
  
  %a.more(href="#") Read more &gt;
  
-# Promos
- content_for :promos do
  .sidebar-promo
    %h3 Promo title
    %p
      This is an example promo.
