-# file: Flex request page

- content_for :page_title do
  Get Access to OpenShift Flex!

- content_for :scripts do
  = javascript_include_tag "/app/javascripts/jquery.validate.min.js"
  = javascript_include_tag "/app/javascripts/form"

= render 'shared/pageheader', :product => 'flex', :title => 'Try Flex', :subtitle => 'Get Access to the Developer Preview'

.container_24#page

  #access.grid_13.push_5
    %h3 Request Access to Flex

    - @access.errors.each do |key, value|
      - if key == :base
        %div
          %strong #{value}

    %p
      We'll need a little information get to you access to the Developer Preview.

    = semantic_form_for @access do |form|
      = form.inputs do
        %p
          First, we'll need your Amazon account number (e.g. 1234-1234-1234).  Your account number will allow us to share the Flex Amazon Machine Images with your account.
        = form.input :ec2_account_number

      - unless @user.terms.empty?
        %p
          Next, we will need you to read and agree to the following terms.  Red Hat will grant access to the OpenShift Service subject to the terms and conditions listed in the following documents:

        %ul.terms
          - @user.terms.each_with_index do |value, i|
            %li.terms-link
              %a{:title => value['termTitle'], :href => value['termUrl'], :target => '_blank'} #{value['termTitle']}

        %p
          Clicking <strong>Request Access</strong> means that you agree to the above terms.

      - else
        %p <strong>Note:</strong> You have previously accepted all applicable terms.

      = form.buttons do
        = form.commit_button "Request Access", :input_html => { :class => 'button' }
    .clear
  .clear
