.container_24.express#pageheader
  .grid_14#title
    %h2 OpenShift <em>Flex</em>
    %p The Internal Beta...

  .grid_10#title_accent

  .clear

.container_24#page

  .prefix_1.grid_12.suffix_1#registration
    %h3 Request access to Flex
    
    - @access.errors.each do |key, value|
      - if key == :base
        %div
          %strong #{value}
        
    = semantic_form_for @access do |form|
      = form.inputs do
        = form.input :ec2_account_number
        - accepted_terms_list = Array.new(@user.terms.length)
        - if @user.terms.length > 0
          - @user.terms.each_with_index do |value, i|
            - accepted_terms_list[i] = value['termId']          
            %div
              %a{:title => value['termTitle'], :href => value['termUrl']} #{value['termTitle']}           
          = form.hidden_field :accepted_terms_list, :value => JSON.generate(accepted_terms_list)
          = form.input :terms_accepted, :input_html => { :type=>'checkbox' }
        - else
          %div Note:  You have previously accepted the applicable terms
          = form.hidden_field :terms_accepted, :value => "on"
      = form.buttons do
        = form.commit_button "Request Access", :input_html => { :class => 'button' }        
    .clear

  .grid_9.suffix_1#form_notes
    %h4 Why do I have to request access?

    %p
      We want your experience to be very similar to our users.  We have
      streamlined the registration process for our users, so let us know
      what you think.

    %h4 Where is my data stored?

    %p
      Whatever you put in this form is safely stored away in our
      corporate registration systems.  Your code will live in the
      clouds - your identity will not.

    %h4 Will my instance be internal-only?
    %p
      No! While the registration process is restricted to
      internal systems, the instance you create will be fully
      accessible outside the Red Hat network.  While this will allow
      for more flexible testing, please do not put any sensitive or
      confidential information on your instance.

    .clear

  .prefix_1.grid_22.suffix_1
    %p#terms_and_conditions
      By clicking on 'Request Access' above, you confirm your agreement with this site's <a href="#">Terms and Conditions</a>.

    .clear

  .clear