-if @user
  - @user.errors.each do |key, value|
    - if key == :base || key == :captcha
      .message.error
        #{value}

- uri = URI.parse(@register_url || user_new_express_path).path

= semantic_form_for('user', :remote => true, :url => uri) do |form|
  = form.inputs do
    = form.hidden_field :cloud_access_choice
    = form.input :email_address
    
  %fieldset.confirm 
    %legend Password
    = form.input :password, :label => ' ', :input_html => { :autocomplete => 'off', :placeholder => 'At least 6 characters' }
    = form.input :password_confirmation, :label => ' ', :input_html => { :autocomplete => 'off', :placeholder => 'Enter it again' }
  %li.captcha
    %label(for="recaptcha_response_field") Prove You Are Human
    = recaptcha_tags :ssl => true          

  = form.buttons do
    = form.commit_button "Sign up for OpenShift", :button_html => { :class => 'button' }

= render 'layouts/dialogs/extra_options', :page => 'signup'
