- content_for :ribbon, 'Sign up for OpenShift'

#new-user
  = semantic_form_for @user, :url => web_user_path, :simple => true, :html => {:class => 'form-horizontal'} do |form|
    %input{:type => "hidden", :name => "redirectUrl", :value => (defined?(@redirectUrl) ? @redirectUrl : '/app/user/complete') }
    = form.hidden_field :cloud_access_choice, :value => (@product == CloudAccess::FLEX_NAME ? CloudAccess::FLEX : CloudAccess::EXPRESS)
    = form.semantic_errors :captcha
    = form.inputs do
      = form.input :email_address, :input_html => { :type => 'email', :class => 'input-xlarge', :placeholder => 'Enter a valid email address' }
      = form.input :password, :input_html => { :class => 'input-xlarge', :autocomplete => 'off', :placeholder => 'At least 6 characters', :maxlength => '50' }
      = form.input :password_confirmation, :input_html => { :class => 'input-xlarge', :autocomplete => 'off', :placeholder => 'Enter it again', :maxlength => '50' }
      = form.input :promo_code, :label => 'Promotional Code', :required => false, :input_html => { :class => 'input-xlarge' }
      .control-group
        %label.control-label(for="recaptcha_response_field")
          Are you human?
        .controls.recaptcha
          = recaptcha_tags :ssl => true 
      .control-group
        By signing up you agree to the 
        %a{:href => '/app/legal/site_terms'} 
          Terms of Service 
        and the
        %a{:href => '/app/legal/openshift_privacy'} 
          Privacy Policy
      .form-actions
        = form.commit_button 'Sign Up', :button_html => {:class => 'btn'}
        or
        %a{:href => '/app/login'} sign in if you have an account
            
