-# file: Login form

- content_for :scripts do
  = javascript_include_tag "/app/javascripts/jquery.validate.min.js"
  = javascript_include_tag "/app/javascripts/form"

- content_for :page_title do
  Sign in to OpenShift

%section.main
  %header
    %h1 
      Sign In to OpenShift
  
  .content
    %p#lost_password
      = link_to 'Lost your password?', "#{Rails.configuration.streamline}/wapps/sso/lostPassword.html", :class => 'more'

    #login-form
      - if @user and @user.errors.any?
        - @user.errors.full_messages.each do |msg| 
          .message.error
            = msg

      = render 'layouts/flashes'
    
      %form{:action => Rails.configuration.login,     
            :method => "post"}
        %input(type="hidden" value="✓" name="utf8")
        %input{:type => "hidden", :value => form_authenticity_token, :name => "authenticity_token"}
        
        %label(for="login_input")
          Login:
        %input{:type => "text", :value => session[:confirm_login] ? session[:confirm_login] : '', :name => "login", :id => "login_input"}
        %br        
        
        %label(for="pwd_input")
          Password:
        %input(id="pwd_input"
               type="password" 
               name="password" 
               autocomplete="off")
        %br
               
        %input{:type => "hidden", :name => "redirectUrl", :value => @redirectUrl}
        %input{:type => "hidden", :name => "errorUrl",  :value => @errorUrl}
        
        %input(type="submit" 
               value="Login" 
               class="button")

    #register
      %h4 Need to Register instead?
      %p
        =link_to "Click here to register", @register_url
