-# file: Registration page

- content_for :scripts do
  = javascript_include_tag "/app/javascripts/jquery.validate.min.js"
  = javascript_include_tag "/app/javascripts/form"

- if @product == 'openshift'
  - subtitle = 'Register for an account'
- else
  - subtitle = 'Register for access to ' + @product
    
=render 'shared/pageheader', :product => @product, :title => 'Try ' + @product.capitalize, :subtitle => subtitle

#page.container_24

  #registration.prefix_1.grid_13.suffix_1
    %h3 Register for access to #{@product.capitalize}
    
    - @user.errors.each do |key, value|
      - if key == :base || key == :captcha
        %div
        %strong #{value}
            
    = semantic_form_for @user do |form|
      = form.inputs do
        = form.input :email_address
        = form.input :password, :input_html => { :autocomplete => 'off' }
        = form.input :password_confirmation, :input_html => { :autocomplete => 'off' }
        = form.hidden_field :cloud_access_choice
        
        #captcha.grid_13
          %label(for="recaptcha_response_field") Prove You Are Human
          = recaptcha_tags

      = form.buttons do
        = form.commit_button "Register Now"
    .clear

  #form_notes.grid_8.suffix_1
    %h4 Why do I have to register?

    %p
      We want your experience to be very similar to our users.  We have
      streamlined the registration process for our users, so let us know
      what you think.

    %h4 Where is my data stored?

    %p
      Whatever you put in this form is safely stored away in our
      corporate registration systems.  Your code will live in the
      clouds - your identity will not.

    %h4 Will my instance be internal-only?
    %p
      No! While the registration process is restricted to
      internal systems, the instance you create will be fully
      accessible outside the Red Hat network.  While this will allow
      for more flexible testing, please do not put any sensitive or
      confidential information on your instance.

    .clear

  .prefix_1.grid_22.suffix_1
    %p#terms_and_conditions
      By clicking on 'Register Now' above, you confirm your agreement with this site's <a href="#">Terms and Conditions</a>.

    .clear

  .clear
