-# file: Registration page

- content_for :scripts do
  = javascript_include_tag "/app/javascripts/jquery.validate.min.js"
  = javascript_include_tag "/app/javascripts/form"

- if @product == 'openshift'
  - subtitle = 'Register for an account'
- else
  - subtitle = 'Register for access to ' + @product
    
=render 'shared/pageheader', :product => @product, :title => 'Try ' + @product.capitalize, :subtitle => subtitle

#page.container_24

  #registration.push_4.grid_13
    %h3 Register for access to #{@product.capitalize}
    
    #login_instead
      = link_to 'Already have a redhat.com or RHN account?', login_path
    
    - @user.errors.each do |key, value|
      - if key == :base || key == :captcha
        %div
        %strong #{value}
            
    = semantic_form_for @user do |form|
      = form.inputs do
        = form.input :email_address
        = form.input :password, :input_html => { :autocomplete => 'off' }
        = form.input :password_confirmation, :input_html => { :autocomplete => 'off' }
        = form.hidden_field :cloud_access_choice
        
        #captcha.grid_13
          %label(for="recaptcha_response_field") Prove You Are Human
          = recaptcha_tags

      = form.buttons do
        = form.commit_button "Register Now"
    .clear

 
  .clear
