-# file: Universal site layout with header/footer/main nav
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head

    -# Allow views to modify title if desired
    %title
      OpenShift by Red Hat
      - if content_for?(:page_title)
        |
        = yield :page_title

    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link(rel="shortcut icon" href="/app/images/favicon.ico")

    = stylesheet_link_tag "/app/stylesheets/1_reset", "/app/stylesheets/2_960_24_col", "/app/stylesheets/3_text", "/app/stylesheets/cloud.rh.css"

    - if content_for?(:scripts)
      = javascript_include_tag "/app/javascripts/jquery-1.5.1.min.js"
      = yield :scripts

    = csrf_meta_tag

  %body(class="#{controller.controller_name} #{controller.action_name}")

    = render 'shared/omniture_code'

    #horrible_wrapper
      #head.container_24
        #logo.grid_18.alpha
          = link_to image_tag("/app/images/logo.png", :alt => "OpenShift"), root_path

        #header_right.grid_6.omega
          - if session[:login] || session[:user]
            #logout
              %a(href='/app/logout') Logout
            .clear
          - else
            #login
              %a(href='/app/login') Login
            .clear

          #mainslug
            Platform at your Service

        .clear

        #nav.container_24
          %ul
            %li.category
              Products
            %li.after_category
              = link_to 'Express', express_path, :class => 'express'
            %li
              = link_to 'Flex', flex_path, :class => 'flex'
            %li
              = link_to 'Power', power_path, :class => 'power'

            %li.category
              Community
            %li.after_category
              = link_to 'Forums', 'http://www.redhat.com/openshift/forums'
            %li
              = link_to 'Blog', 'http://www.redhat.com/openshift/blogs'
            %li
              = link_to 'News', 'http://www.redhat.com/openshift/news-and-announcements'

            %li.category
              Help
            %li.after_category
              = link_to 'KB', 'http://www.redhat.com/openshift/kb'
            %li
              = link_to 'Guides', 'http://docs.redhat.com/docs/en-US/OpenShift/'
            %li
              = link_to 'Docs', 'http://www.redhat.com/openshift/documents'
            %li
              = link_to 'Videos', 'http://www.redhat.com/openshift/videos'
            %li
              = link_to 'FAQ', 'http://www.redhat.com/openshift/faq'

          .clear

      = content_for?(:sub_layout) ? yield(:sub_layout) : yield

      #footer.container_24
        = image_tag "/app/images/shadowman.png", :alt => "Red Hat"

        %p Copyright &copy; 2011 Red Hat, Inc.

        %ul
          %li
            = link_to 'Site Terms', site_terms_path
          %li
            = link_to 'Privacy Policy', 'http://www.redhat.com/legal/privacy_statement.html'
          %li
            = link_to 'Contact Us', 'mailto:openshift@redhat.com'

          %li
            = link_to 'OpenShift Partners', partners_path

        .clear
