-# file: Express request access page

- content_for :page_title do
  Get Access to OpenShift Express!

- content_for :scripts do
  = javascript_include_tag "/app/javascripts/jquery.validate.min.js"
  = javascript_include_tag "/app/javascripts/form"

= render 'shared/pageheader', :product => 'express', :title => 'Try Express', :subtitle => 'Get Access to the Developer Preview'

.container_24#page

  #access.express.grid_13.push_5
    %h3 Request Access to Express

    - @access.errors.each do |key, value|
      - if key == :base
        %div
          %strong #{value}

    %p#explanation
      Red Hat will grant access to the OpenShift Service subject to the terms and conditions listed in the following documents:

    = semantic_form_for @access do |form|
      %ul.terms
        - unless @user.terms.empty?
          - @user.terms.each_with_index do |value, i|
            %li.terms-link
              %a{:title => value['termTitle'], :href => value['termUrl'], :target => '_blank'} #{value['termTitle']}
        - else
          %p.notice <strong>Note:</strong> You have previously accepted all applicable terms
      %p#explanation
        Clicking <strong>Request Access</strong> means that you agree to the above terms.
      = form.buttons do
        = form.commit_button "Request Access", :input_html => { :class => 'button' }
    .clear

  .clear
