- content_for :page_title do
  OpenShift Update Domain Name

%section.main
  .content
    %h1 Update Your Domain Name
    = render 'layouts/flashes'
    = form_for :express_domain, :url => edit_express_domains_path, :html => {:method => :put, :style => 'width:auto;'} do |f|
      = f.hidden_field :ssh, :value => ''
      %div
        %span{:style => 'float:left;margin-top:4px;text-align:right;width:150px;'} http://myapps-
        = f.text_field :namespace, :style => 'display: inline;width:auto;', :value => "#{@domain.namespace}", :autofocus => true
        %span .rhcloud.com
        = f.submit "Save", :style => 'margin-left:154px;width:auto;'
