- content_for :page_title do
  OpenShift Update Ssh key

%section.main
  .content
    %h1 Update Your default Ssh key
    = render 'layouts/flashes'
    
    = semantic_form_for @domain, :url => edit_sshkey_express_domains_path, :html => { :method => :put } do |f|
      = f.hidden_field :dom_action, :value => @dom_action
      = f.hidden_field :form_type, :value => 'sshkey'
      = f.input :ssh, :as => :text, :required => false, :label => "Paste your public key"
      = f.buttons do
        = f.commit_button :button_html => { :class => 'button', :value => 'Save' }
    