-# file: Video embedding page

- content_for :page_title do
  Watch #{@title}

- content_for :stylesheets do
  = stylesheet_link_tag '/app/stylesheets/projekktor_maccaco.css'


- content_for :javascripts do
  = javascript_include_tag '/app/javascripts/projekktor.min.js'
  = javascript_include_tag '/app/javascripts/video.js'

%section.main
  %header
    %h1
      = @title
    
    .content
      %video.projekktor{ :poster => "//www.redhat.com/g/video_stills/#{@filename}.png", :height => "385", :width => "640"}
      
        %source{ :src => "//www.redhat.com/v/ogg/#{@filename}.ogg", :type=>"video/ogg"}
        
        %source{ :src => "//www.redhat.com/v/mp4/#{@filename}.mp4", :type=>"video/mp4"}
