:css
  h1 span {
    font-size: 16px;
    color: #888;
    color: rgb(136, 136, 136);
    text-shadow: none;
  }

- content_for :page_title, @message || "An error occurred"

- content_for :javascripts do
  %script{:src => status_jsonp_url('system-status')}

%h1= @message || "We appear to be having technical difficulties"

%p You can try <a href="javascript:window.location.reload();">refreshing the page</a>, if the problem is temporary.

%section.row
  .span7

    %p You can also try the following:

    %ul.spaced-items
      %li Seek assistance in the #{link_to "support forum", forums_url}.
      %li Join #{link_to "IRC channel #openshift", irc_web_url } on Freenode.
      %li If you are experiencing a repeatable error not related to a service outage, #{link_to "report it as a bug", open_bug_url }.

    - if @reference_id
      %p.error-reference Reference ##{@reference_id}

  .span5
    %h4 OpenShift Online status: #{link_to "No open issues", status_path, :id => 'system-status'}

    %p Follow the Operations team on Twitter <strong>#{link_to "@openshift-ops", openshift_ops_twitter_url }</strong>



