- content_for :title, 'Bill Details'
- breadcrumb_for_account 'Bill Details'

- content_for :javascripts do
  :javascript
    $(function() {
      $('#id').change(function() {
        if ($(this).val())
          $("#bill_form").submit();
      })
    });

:css
  select { vertical-align: top }

- if @is_test_user
  .alert.alert-warning You are accessing OpenShift with a test user.  If this is in error, please contact the account support team immediately.
- if @virtual_time
  .alert.alert-warning You are accessing an Aria test system. The virtual time is #{@virtual_time}.

.row-fluid
  .span8
    %h1.pull-left Bill Details
    %div.pull-right
      = semantic_form_for current_user, :url => locate_account_bills_path, :html => { :id => 'bill_form', :method => 'post' } do |f|
        - if @invoice_options.count > 1
          = f.loading
          = select_tag 'id', options_for_select([["Bill date:",""], *@invoice_options ], @id), {:title => 'Bill date'}
          %noscript
            = submit_tag 'View', :class => 'btn'
        = link_to "Print", print_account_bill_path(@id), {:target => '_blank', :class => 'btn', :title => 'Print the statement for this bill'}
        = link_to "Export All", export_account_bills_path, {:target => '_blank', :class => 'btn', :title => 'Export all bills to a CSV file'}

.row-fluid
  .span8
    %section.panel
      %h2 You were charged #{number_to_user_currency(@bill.balance)} on #{@bill.due_date.to_s(:billing_date)}

      %p= bill_period_description(@bill)

      = render :partial => '/account/bill', :locals => {:bill => @bill, :show_dates => true, :show_details => true, :show_payments => true}

    %section.panel
      - if @prev_no
        %span.pull-left= link_to "< Previous bill", account_bill_path(@prev_no), :class => 'previous-link'
      - if @next_no
        %span.pull-right= link_to "Next bill >", account_bill_path(@next_no), :class => 'next-link'
      &nbsp;

  .span4
    - if @usage_items and @next_bill
      %section.panel
        %h2 Compare Usage
        = render :partial => '/account/usage_charges', :locals => {:usage_items => @usage_items, :usage_types => @usage_types, :show_usage_rates => @show_unbilled_usage_rates}

        - if @next_bill.day and @next_bill.usage_bill_from and @next_bill.usage_bill_thru
          %p
            Day #{@next_bill.day} of billing period #{collapse_dates(@next_bill.usage_bill_from, @next_bill.usage_bill_thru, :ordinalize => true)}

    %section.panel
      %h2 Got Questions?
      %h3= link_to "Account Help", help_account_path
      - if @plan.basic?
        %h3= link_to "Community Support", console_help_path
      - else
        %h3= link_to "Technical Support", openshift_customer_portal_url, :class => 'external', :target => '_blank'

    - if @bill.line_items.detect(&:tax?)
      %section.panel
        %h2 Tax exempt?
        %p
          To qualify for tax exempt status you must submit a certificate to Red Hat.
          Upon receipt of your certificate we will refund all previously paid taxes to 
          your credit card. #{link_to "Learn more about filing for tax exempt status", tax_exempt_help_status, :target => '_blank', :class => 'external'}.
