- content_for :title, 'Bill Details'
- breadcrumb_for_account 'Bill Details'

- content_for :javascripts do
  :javascript
    $(function() {
      $('#invoice_no').change(function() {
        if ($(this).val())
          $('#date_form').submit();
      })
    });

:css
  select { vertical-align: top }

- if @is_test_user
  .alert.alert-warning You are accessing OpenShift with a test user.  If this is in error, please contact the account support team immediately.

.row-fluid
  .span8
    %h1.pull-left Bill Details
    %div.pull-right
      %form{:action => account_bills_path, :id => 'date_form', :method => 'get'}
        - if @invoice_options.count > 1
          = select_tag 'invoice_no', options_for_select([["Bill date:",""], *@invoice_options ], @invoice_no), {:title => 'Bill date'}
          %noscript
            = submit_tag 'View', :class => 'btn'
        = link_to "Download", @download_url, {:class => 'btn'}
        - if @bill
          = link_to "Print", account_bills_path({:invoice_no => @invoice_no, :print => true}), {:target => 'blank', :class => 'btn'}

.row-fluid
  .span8
    %section.panel
      - if @bill
        %h2 You were charged #{number_to_currency(@bill.balance)} on #{@bill.due_date.to_s(:billing_date)}
        = render :partial => '/account/bill', :locals => {:bill => @bill, :show_dates => true, :show_details => true, :show_payments => true}
      - else
        %p No bill was found for invoice ##{@invoice_no}.
        %p= link_to "View your most recent bill.", account_bills_path

    %section.panel
      - if @prev_no
        %span.pull-left= link_to "< Previous bill", account_bills_path({:invoice_no => @prev_no})
      - if @next_no
        %span.pull-right= link_to "Next bill >", account_bills_path({:invoice_no => @next_no})
      &nbsp;

  .span4
    - if @usage_items
      %section.panel
        %h2 Compare Usage
        = render :partial => '/account/usage_charges', :locals => {:usage_items => @usage_items, :usage_types => @usage_types}

    %section.panel
      %h2 Help
      %p Tax help
