= javascript_include_tag 'tracking.js'
= javascript_include_tag 'omniture/s_code.js'

:plain
  <script language="JavaScript" type="text/javascript"><!--
  s.pageName="openshift | #{controller} | #{action}"
  s.server=""
  s.channel="#{get_product(controller, action).empty? ? '' : 'OpenShift | Product | ' + get_product(controller, action).capitalize}"
  s.heir1=""
  s.pageType=""
  s.prop1=""
  s.prop2=""
  s.prop3=""
  s.prop4=""
  s.prop5=""
  /* Conversion Variables */
  s.campaign=""
  s.state=""
  s.zip=""
  s.events="#{event}"
  s.products=""
  s.purchaseID=""
  s.eVar1=""
  s.eVar2=""
  s.eVar3=""
  s.eVar4=""
  s.eVar5=""
  s.eVar8="#{evar8}"
  s.eVar51="#{@product.nil? ? '' : @product.capitalize}"
  s.eVar27=""
  s.eVar28=""
  s.eVar29=""
  /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
  var s_code=s.t();if(s_code)document.write(s_code)//--></script>
  <script language="JavaScript" type="text/javascript"><!--
  if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
  //--></script><noscript><img src="http://redhat.122.2o7.net/b/ss/redhatopenshift/1/H.23.3--NS/0"
  height="1" width="1" border="0" alt="" /></noscript><!--/DO NOT REMOVE/-->
  <!-- End SiteCatalyst code version: H.23.3. -->


