= javascript_include_tag 'site/tracking.js'
= javascript_include_tag 'site/s_code.js'

:plain
  <script language="JavaScript" type="text/javascript"><!--
  s.pageName="openshift | #{controller} | #{action}"
  s.server=""
  s.channel="OpenShift | Product | Express"
  s.heir1=""
  s.pageType=""
  s.prop1=""
  s.prop2=""
  s.prop3=""
  s.prop4=""
  s.prop5=""
  /* Conversion Variables */
  s.campaign=""
  s.state=""
  s.zip=""
  s.events="#{event}"
  s.products=""
  s.purchaseID=""
  s.eVar1=""
  s.eVar2=""
  s.eVar3=""
  s.eVar4=""
  s.eVar5=""
  s.eVar8="#{evar8}"
  s.eVar51="#{@product.nil? ? '' : @product.capitalize}"
  s.eVar27=""
  s.eVar28=""
  s.eVar29=""
  /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
  var s_code=s.t();if(s_code)document.write(s_code)//--></script>
  <script language="JavaScript" type="text/javascript"><!--
  if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
  //--></script><noscript><img src="http://redhat.122.2o7.net/b/ss/redhatopenshift/1/H.23.3--NS/0"
  height="1" width="1" border="0" alt="" /></noscript><!--/DO NOT REMOVE/-->
  <!-- End SiteCatalyst code version: H.23.3. -->


- if google_conversion_label.present?
  :plain
    -# Google AdWords conversion tracking
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1007064360;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "#{google_conversion_label}";
    var google_conversion_value = 0;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1007064360/?value=0&amp;label=#{google_conversion_label}&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
- else
  :plain
    -# Google Code for Remarketing tag
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1007064360;
    var google_conversion_label = "amNWCJipqAQQqKqa4AM";
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1007064360/?value=0&amp;label=amNWCJipqAQQqKqa4AM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
